<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar bg-danger"  aria-label="Main navigation"  >
    <div style="margin:-2rem 1rem -0.5rem 1rem !important;" class="container-xxl">
        <a class="navbar-brand" href="/"> <strong> TBS Cotización de Software. </strong></a>
        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
        </button>
        <a class="btn btn-danger" type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="bi bi-list" style="font-size: 1.5em;"></i></a>
        <div class="offcanvas offcanvas-end" style="background-color:rgb(224, 55, 55) ;" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ">
                <ul class="links">
                    <li class="">
                        <a class="" aria-current="page" href="/">Home</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">Cotizar</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/Staffing"><strong>Staffing</strong></a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/SoftDev"><strong>Software Factory</strong></a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/Nosotros">Nosotros</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/#paises">Paises donde tenemos precensia</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1"><strong>Unete a nosotros / se un Partner</strong> </a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="#footer">Contact</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="navbar-brand" href="#">
                            <img src="/images/TBS-IT1.jpg" alt="" data-bs-toggle="modal" data-bs-target="#signin1"  width="210" height="170">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- end of container -->
</nav> <!-- end of navbar -->
{{!-- contenido --}}
<section class="develops1 py-5 d-flex align-items-center">
    <div class="container text-light" >
        <div style="" class="carpetaNegra">
            <div class="row d-flex align-items-center" style="min-height:35rem">
                <div class="col-lg-12" data-aos="fade-right">
                    <br>
                    <div class="text-center pb-4">
                        <h2 class="py-2">Cotizacion de Software</h2>
                    </div>
                    <div style="margin-top:-1rem;" id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <form action="/dataQuote" method="post">
                                <div class="carousel-item active">
                                    <div class="container-fluid text-light">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center justify-content-lg-center align-items-center px-lg-5" data-aos="fade-down">
                                                <div style="width:90%">
                                                    <div class="text-center text-lg-center pt-lg-0">
                                                        <h4 class="py-2">Vamos a cotizar el soft que necesitas</h4>
                                                        <h5 class="py-2">Para comenzar necesitamos unos breves datos.</h5>
                                                        <h5 class="py-2">Recibirás un email con una pre cotización formal con valores base para</h5>
                                                        <h5 class="py-2">comenzar una negociación con nuestro ejecutivo de cuentas. </h5>
                                                    </div>
                                                    <div>
                                                        <div class="row" >
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2 input-group-lg">
                                                                    <input name="Nombre" type="text" style="color: aliceblue; background-color: gray;" class="form-control form-control-input" id="exampleFormControlInput1" placeholder="Nombre">
                                                                </div>                                
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2 input-group-lg">
                                                                    <input name="Apellido"  type="text" style="color: aliceblue; background-color: gray;" class="form-control form-control-input" id="exampleFormControlInput1" placeholder="Apellido" required>
                                                                </div>                                
                                                            </div>
                                                        </div>
                                                        <div class="row" >
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2 input-group-lg">
                                                                    <input name="NumCel" type="text" style="color: aliceblue; background-color: gray;" class="form-control form-control-input" id="exampleFormControlInput1" placeholder="Numero Cel. Ejemplo +54 11 8888">
                                                                </div>                                
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2 input-group-lg">
                                                                    <input name="Email" type="text" style="color: aliceblue; background-color: gray;" class="form-control form-control-input" id="exampleFormControlInput2" placeholder="Email, Sera validado">
                                                                </div>                                 
                                                            </div>
                                                        </div> 
                                                        <br>
                                                        <p class="text-center">Completa los campos</p>                         
                                                    </div>
                                                </div> <!-- end of div -->
                                            </div> <!-- end of col -->
                                        </div> <!-- end of row -->
                                    </div> <!-- end of container -->
                                    
                                    <div class="carousel-caption d-md-block">
                                    </div>
                                </div>
                                <div   class="carousel-item">
                                        <div class="container-fluid text-light">
                                        <div  style=""  class="row">
                                            <div class="col-lg-12 d-flex justify-content-center justify-content-lg-center align-items-center px-lg-5" data-aos="fade-down">
                                                <div style="width:90%" >
                                                    <div class="text-center text-lg-center py-4 pt-lg-0">
                                                        <h4 class="py-2">Completa esta información</h4>
                                                    </div>
                                                    <div>
                                                        <div class="row" >
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2 input-group-lg">
                                                                    <input name="Empresa" type="text" style="color: aliceblue; background-color: gray;"  class="form-control form-control-input" id="exampleFormControlInput1" placeholder="Empresa">
                                                                </div>                                
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2 input-group-lg">
                                                                    <input type="text" style="color: aliceblue; background-color: gray;" class="form-control form-control-lg" list="pais1"  id="Pais22" name="Moneda" placeholder="Quiero pagar en">
                                                                    <datalist id="pais1">
                                                                        <select name="" >
                                                                        <option value="Dolar">Dolar</option>
                                                                        <option value="Pesos Argentinos">Pesos Argentinos</option>                                                        
                                                                        </select>
                                                                    </datalist>
                                                                </div>                                
                                                            </div>
                                                        </div>
                                                        <div class="row" >
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2 input-group-lg">
                                                                    <input name="Ciudad" type="text" style="color: aliceblue; background-color: gray;" class="form-control form-control-input" id="exampleFormControlInput1" placeholder="Ciudad">
                                                                </div>                                
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2 input-group-lg">
                                                                    <input name="PagWeb" type="text" style="color: aliceblue; background-color: gray;" class="form-control form-control-input" id="exampleFormControlInput2" placeholder="Pagina web">
                                                                </div>  
                                                                <input type="text" name="token" value="{{token}}" hidden>
                                                            </div>
                                                            <div style="margin-top: 2rem; opacity: 0.99 !important;" class="d-flex justify-content-center">
                                                                <button style="font-size: 1rem; padding: 1.2rem; height: min-content; opacity: 0.99 !important;" class="alertaVerde" type="submit" >Enviar</button>                               
                                                            </div>
                                                        </div> 
                                                        <br>
                                                        <span></span><p class="text-center">Completa los campos</p>                         
                                                        <br>
                                                    </div>
                                                </div> <!-- end of div -->
                                            </div> <!-- end of col -->
                                        </div> <!-- end of row -->
                                    </div> <!-- end of container -->
                                    
                                    <div class="carousel-caption d-md-block">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- botones --}}
        <div class="position-relative m-4">
        <ul style="margin-top: -1rem;"  class="action flexlado">
        <li style="margin-right: 5rem";>
        <button style="padding: 1rem; height: min-content;" class="alertaVerde" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        Anterior
        </button>
        </li>
        <li style="margin-left: -7rem"; class="position-absolute top-0 start-100">
        <button style="padding: 1rem; height: min-content;" class="alertaVerde" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        Siguiente
        </button>
        </li>
        </ul>
        </div>
    </div>
</section>
