
<input type="image" src="images/fondoempresas.jpg" alt="" style="margin: 0; position: absolute; width: 100%; height: 120%;">
<!-- Header -->
<header id="header" class="alt">
	<div class="logo"><a href="/">TBS Staffing IT Quote<span></span></a></div>
	<a href="#menu"><span>Menu</span></a>
</header>
<!-- Nav -->
<nav style="position:absolute; z-index: 99999999999999; color:white" id="menu">
	<ul class="links">
		<li><a href="/">Home</a></li>
		<li style="cursor: pointer;" ><a data-bs-toggle="modal" data-bs-target="#exampleModal">Cotizar</a></li>				
		<li><a href="/Staffing"><strong>Staffing</strong></a></li>
		<li><a href="/SoftDev"><strong>Software Factory</strong></a></li>
			<div class="dropdown" hidden >
				<button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-target="dropdown" aria-expanded="false">
					Areas de desarrollo
				</button>
				<ul style="background-color: rgb(248, 98, 11) ;" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
					<li><a class="dropdown-item" href="webap.html">Web apps / Mobile / Web Design</a></li>
					<li><a class="dropdown-item" href="discovery.html">Discovery & Design Thinking</a></li>
					<li><a class="dropdown-item" href="IOT.html">I.O.T</a></li>
					<li><a class="dropdown-item" href="blockChain.html">Block Chain</a></li>
					<li><a class="dropdown-item" href="IA.html">A.I. / I.A. Bots</a></li>
					<li><a class="dropdown-item" href="BigData.html">Big Data</a></li>
					<li><a class="dropdown-item" href="gaming.html">Gaming</a></li>
					<li><a class="dropdown-item" href="QA.html">Q.A. analist & testing</a></li>
					<li><a class="dropdown-item" href="ciberSec.html">Ciber Security</a></li>
					<li><a class="dropdown-item" href="serverless.html">Clouding & Serverless</a></li>
				</ul>
			</div>
			<div class="dropdown" hidden>
				<button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-target="dropdown" aria-expanded="false">
					Industrias 
				</button>
				<ul style="background-color: rgb(248, 98, 11) ;" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
					<li><a class="dropdown-item" href="webap.html">Fintech & Banking</a></li>
					<li><a class="dropdown-item" href="webap.html">Ingeniería & Mecatronica</a></li>
					<li><a class="dropdown-item" href="discovery.html">Retails & Distributions</a></li>
					<li><a class="dropdown-item" href="IOT.html"></a></li>
					<li><a class="dropdown-item" href="blockChain.html">Block Chain</a></li>
					<li><a class="dropdown-item" href="IA.html">Healt & Pharma</a></li>
					<li><a class="dropdown-item" href="BigData.html">B2B</a></li>						
				</ul>
			</div>
		<li><a href="/Nosotros">Nosotros</a></li>
		<li><a href="/#five">Industrias</a></li>		
		<li><a href="/#six">Países donde tenemos presencia</a></li>
		<li style="cursor: pointer;" ><a data-bs-toggle="modal" data-bs-target="#exampleModal1">Únete a Nosotros / Se un Partner</a></li>
		<li><a href="#footer">Contacto</a></li>
		<br>
		<a  data-bs-toggle="modal" data-bs-target="#signin1" class="none" type="submit">
			<input style=" width:14rem; height:10rem; border-radius: 0.5rem;" type="image" src="/images/TBS-IT1.jpg"/>
		</a>
	</ul>
</nav>
<div style="margin: -5% 5% 0 5% ;color: black ;" >
	<section style="margin:0.5rem 0 0 0rem;" id="post" class="wrapper bg-img" data-bg="">
		<div style="" class="inner">
			<article style="width: 130%; margin:0; padding:1.5rem" class="box">
				<header style="margin-top:-2.rem" class="center">
					<h1>Cotización de Staffing IT</h2> 
				</header>
				<br>
				<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
					<div style="" class="carousel-inner">
						<div  class="carousel-item active" data-bs-interval="20000">
							<div style=" margin-bottom: 5rem"  class="">
								<div style="text-align: center; margin:0 0 0 10rem; height: 25rem; width: 55rem; font-size: 1.5rem;">
									<h2>Vamos a cotizar tu equipo de staffing IT</h3>
										<h4>	
											Para comenzar necesitamos unos breves datos.
											<br>
											Recibirás un email con una pre cotización formal con valores base para comenzar una negociación con nuestro ejecutivo de cuentas.
										</h1> 
										<br>
									<div style="color: aliceblue;margin:0 0 0 0rem;">
										<form action="/staffingData" method="post">
										<div class="flexlado" >
											<div style="margin: auto;" class="form-floating">
												<input name="Nombre" style="width: 22rem; height: 5rem;color: black; background-color: gray;" type="text" class="form-control" id="floatingInput77" placeholder=" " required>
												<label style="color: black;" for="floatingInput77">Nombre</label>
											</div>
											<div style="margin: auto;" class="form-floating">
												<input name="Apellido" style="color: aliceblue;width: 22rem;height: 5rem; background-color: gray;" type="text" class="form-control" id="floatingInput11" placeholder=" " required>
												<label style="color: black;" for="floatingInput11">Apellido</label>
											</div>
										</div>
										<br>
										<div class="flexlado" >
											<div style="margin: auto;" class="form-floating">
												<input name="NumCel" style="color: aliceblue; width: 22rem;height: 5rem;background-color: gray;" type="number" class="form-control" id="floatingInput222" placeholder=" " required>
												<label style="color: black;" for="floatingInput222">Numero Cel.</label>
											</div>
											<div style="margin: auto;" class="form-floating mb-3">
												<input name="Email" style="color: aliceblue;width: 22rem; height: 5rem; background-color: gray;" type="email" class="form-control" id="floatingInput333" placeholder=" " required>
												<label style="color: black;" for="floatingInput333">Email</label>
											</div>
										</div>
										<br>
										<p>Completa todos los campos</p>
									</div>												
								</div>
							</div>
						</div>
						<div  class="carousel-item" data-bs-interval="20000">
							<div style="text-align: center; margin-bottom: 5rem"  class="">
								<div style="margin:0 0 0 10rem; height: 25rem; width: 55rem; font-size: 1.5rem;">
									<h4>Completa esta información</h3>
										<br>
										<br>
									<div style="color: aliceblue;margin:0 0 0 0rem;">
										<div class="flexlado" >
											<div style="margin: auto;" class="form-floating">
												<input name="Empresa" style="width: 22rem; height: 5rem; background-color: gray;" type="text" class="form-control" id="floatingInput55" placeholder=" " required>
												<label style="color: black;" for="floatingInput55">Empresa</label>
											</div>
											<div style="margin: auto;" class="form-floating">

												<input autocomplete="off" style="width: 22rem; height: 5rem; background-color: gray;"list="pais1" type="text" class="form-control" id="Pais22" placeholder=" " name="Moneda" required>
												<label style="color: black;" for="Pais22">Pago en:</label>
												<datalist id="pais1">
													<select name="" >
														<option value="Dolar">Dolar</option>
														<option value="Pesos Argentinos">Pesos Argentinos</option>
													</select>
												</datalist>

											</div>
										</div>
										<br>
										<div class="flexlado" >
											<div style="margin: auto;" class="form-floating">
												<input  name="Ciudad" style="color: aliceblue; width: 22rem;height: 5rem;background-color: gray;" type="text" class="form-control" id="floatingInput7" placeholder=" " required>
												<label style="color: black;" for="floatingInput7">Ciudad</label>
											</div>
												<div style="margin: auto;" class="form-floating mb-3">
												<input name="PagWeb" style="color: aliceblue;width: 22rem; height: 5rem; background-color: gray;" type="text" class="form-control" id="floatingInput8" placeholder=" " >
												<label style="color: black;" for="floatingInput8">Pagina Web</label>
											</div>
										</div>
										<input type="text" name="token" value="{{token}}" hidden>
										<br>
										<p>Completa todos los campos</p>
										<button style="font-size: 1.2rem;padding: 1.5rem; height: min-content;" class="alertaVerde label" type="submit" >Enviar</button>
										</form>
									</div>												
								</div>
							</div>
						</div>

					</div>
				</div>
			</article>
			<br>
			<footer style="" class="fijoAbajo">
				<div style="position: relative;" class="fijoAbajo flexlado" >
					<div style="max-height: 0.1rem;"      class="carousel-indicators" hidden>
						<button  type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button  type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button  type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
						<button  type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
					</div>
				</div>
				<ul style="margin: 0 22% 0 0"; class="actions flexlado">
					<li style="margin: 0 50% 0 0";>
						<button style="padding: .7rem; height: min-content;" class="alertaVerde label" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">Anterior
						</button>
					</li>
					<li style="" class=""hidden>
						<a href="/"class="alertaVerde">Volver<a/>
					</li>
					<li style="margin: 0 0 0 70%">
						<button style="padding: .7rem; height: min-content;" class="alertaVerde label" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">Siguiente
						</button>
					</li>
				</ul>
			</footer>
			
		</div>
	</section>
</div>
