<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar bg-danger"  aria-label="Main navigation"  >
    <div style="margin:-2rem 1rem -0.5rem 1rem !important;" class="container-xxl">
        <a class="navbar-brand" href="/"> <strong> TBS Staffing S.G.N.S.</strong></a>
        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
        </button>
        <a class="btn btn-danger" type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="bi bi-list" style="font-size: 1.5em;"></i></a>
        <div class="offcanvas offcanvas-end" style="background-color:rgb(224, 55, 55) ;" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ">
                <ul class="links">
                    <li class="">
                        <a class="" aria-current="page" href="/">Home</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">Cotizar</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/Staffing">Staffing</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/SoftDev">Software Factory</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/Nosotros">Nosotros</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/#paises">Paises donde tenemos precensia</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1">Unete a nosotros / se un Partner </a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="#footer">Contact</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="navbar-brand" href="#">
                            <img src="/images/TBS-IT1.jpg" alt="" data-bs-toggle="modal" data-bs-target="#signin1"  width="210" height="180">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- end of container -->
</nav> <!-- end of navbar -->
    <!-- end of navigation -->
    <!-- modal de cotizacion -->
    <!-- Basic -->
<section class="home2 py-5" id="post">
    <div class="ex-basic-1 pt-5 pb-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
						<div class="card text-white text-center" style="border-radius: 1rem; background-color: rgb(38, 36, 36); opacity: 0.995;">
						<div class="card-header">
							<h2>Cotizacion de Staffing IT</h2>
						</div>
						<div class="card-body">
                            <h4 class="card-title">
				{{Nombre}} gracias por tu cotización, en breve te llegara un mail con un pre costo, (revisa en spam).
				<br>
                <br>
				Nos pondremos en contacto en la fecha y horario que nos indicó para conversar y sumar algunos beneficios y descuentos extras.
				<br> <br> 
				¡Empezamos a trabajar hoy! <br>
							</h4>
							<br> <br> <br>
                            <h5 class="card-text"></h5>
                            <form  action="/" method="get">
                                <div style="margin: -6rem 0 2.5rem 4rem;">
                        {{!-- ocultos solo para traspaso y gurdar --}}
                                </div>
                            </form>
                        </div>
                            <div class="card-footer bg-transparent border-success">
                                <form action="/" method="get">
                                    <button  type="submit" class="alertaVerde" >Volver</button>
                                </form>
                                <br>
                            </div>
						</div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->
</section>



