{{#if error }}
<div align="center" class=" messError alert alert-danger alert-dismissible fade show" role="alert">
    <div class="">
        <h1>***ATENCION!!!****</h1>
        <br>
        {{error}}
        <br>
        <br>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{#if volver }}
        <form action="/principals" method="get">
            <button data-target="#spinner2" class="alertaVerde" >Volver</button>
        </form>
        {{/if}}
    </div>
</div>
{{/if}}

{{#each errors }}
<div align="center" class="messError alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    <h2>***ATENCION!!!****</h2>
    <br>
    {{text}}
    <br>
</div>
{{/each}}