{{#if error }}
    <div align="center" style="margin-bottom:-2rem !important;" class="messError alert alert-dismissible fade show" role="alert">
        <div class="" style="margin-bottom:-2rem !important;">
            <h4 style="">¡ATENCION!</h4>
            <div class="">
                    <h5>
                        {{error}}
                    </h5>
                <button 
                style="height:0.21rem !important;width:0.21rem !important; margin:0.2rem;" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
            <br>
        </div>
    </div>
{{/if}}

{{#each errors }}
<div align="center" style="" class=" messError alert alert-dismissible fade show" role="alert">
    <h4>***¡ATENCION!!!***</h4> 
    <hr>
    <div class="flexlado">
        <h5>{{text}}</h5>
        <button type="button" style="height:0.51rem;width:0.51rem; margin:0.5rem;" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <br>
    </div>
    {{!-- <form action="/" method="get">
        <button class="alerta" >Cerrar Todos</button>
    </form> --}}
</div>
{{/each}}

