{{#if error }}
    <div align="center" style="" class="messError alert alert-dismissible fade show" role="alert">
        <div class="">
            <h4 style="margin-bottom:1rem;">***¡ATENCION!***</h4>
            <div class="flexlado">
                <div style="margin-bottom:-5rem; height:max-content;" class="">

                    <h5>
                        {{error}}
                    </h5>

                </div>
                <button style="height:0.51rem;width:0.51rem; margin:0.5rem;" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <br>
        </div>
    </div>
{{/if}}

{{#each errors }}
<div align="center" style="" class=" messError alert alert-dismissible fade show" role="alert">
    <h4>***¡ATENCION!!!***</h4> 
    <hr>
    <div class="flexlado">
        <h5>{{text}}</h5>
        <button type="button" style="height:0.51rem;width:0.51rem; margin:0.5rem;" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <br>
    </div>
    {{!-- <form action="/" method="get">
        <button class="alerta" >Cerrar Todos</button>
    </form> --}}
</div>
{{/each}}

