        {{!-- Home --}}
<div class="contenedor">
        <header class="fijoArriba mainDiv" style="margin: 0% 0 0 0; position: absolute;" id="header">
            <div class="flexlado" style="margin:auto; padding:auto;">
                <div style="margin: 1% 10% 0 0; position: relative;">
                    <a  data-bs-toggle="modal" data-bs-target="#signin1" class="none" type="submit">
                        <input style=" width:6rem; height:4rem; border-radius: 0.5rem;" type="image" src="/images/TBS-IT1.jpg"/>
                    <a/>
                </div>
                <div  style="margin: 1% 0 0 80%; position:relative">
                    <a href="#menu"><button class="btn btn-danger">Menu</button></a>
                </div>
            </div>
            <div style="margin: 2% 44%; position:absolute;" >
                <button style="padding:0 1.5rem 0 1.5rem " type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"class="alertaVerde">COTIZAR</button>
            </div>
        </header>
        <!-- Nav -->
        <nav style="position:absolute; z-index: 99999999999999; color:white" id="menu">
            <ul class="links">
				<li><a href="/">Home</a></li>
				<li style="cursor: pointer;" ><a data-bs-toggle="modal" data-bs-target="#exampleModal">Cotizar</a></li>				
                <li><a href="#one"><strong>Staffing</strong></a></li>
                <li><a href="#two"><strong>Software Factory</strong></a></li>
                <div hidden>
                <hr>
                <div class="dropdown" >
                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-target="dropdown" aria-expanded="false">
                        Areas de desarrollo
                    </button>
                    <ul style="background-color: rgb(248, 98, 11) ;" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="webap.html">Web apps / Mobile / Web Design</a></li>
                        <li><a class="dropdown-item" href="discovery.html">Descovery & Design Thinking</a></li>
                        <li><a class="dropdown-item" href="IOT.html">I.O.T</a></li>
                        <li><a class="dropdown-item" href="blockChain.html">Block Chain</a></li>
                        <li><a class="dropdown-item" href="IA.html">A.I. / I.A. Bots</a></li>
                        <li><a class="dropdown-item" href="BigData.html">Big Data</a></li>
                        <li><a class="dropdown-item" href="gaming.html">Gaming</a></li>
                        <li><a class="dropdown-item" href="QA.html">Q.A. analist & testing</a></li>
                        <li><a class="dropdown-item" href="ciberSec.html">Ciber Security</a></li>
                        <li><a class="dropdown-item" href="serverless.html">Clouding & Serverless</a></li>
                    </ul>
                </div>
                <hr>
                <div class="dropdown" >
                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-target="dropdown" aria-expanded="false">
                        Industrias 
                    </button>
                    <ul style="background-color: rgb(248, 98, 11) ;" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="webap.html">Fintech & Banking</a></li>
                        <li><a class="dropdown-item" href="webap.html">Ingenieria & Mecatronica</a></li>
                        <li><a class="dropdown-item" href="discovery.html">Retails & Distributions</a></li>
                        <li><a class="dropdown-item" href="IOT.html"></a></li>
                        <li><a class="dropdown-item" href="blockChain.html">Block Chain</a></li>
                        <li><a class="dropdown-item" href="IA.html">Healt & Pharma</a></li>
                        <li><a class="dropdown-item" href="BigData.html">B2B</a></li>						
                    </ul>
                </div>
                <br>
            </div>
					<li><a href="/Nosotros">Nosotros</a></li>
					<li hidden><a href="elements.html">Valores / Mision</a></li>
					<li><a href="#five">Paises donde tenemos precensia</a></li>
					<li style="cursor: pointer;" ><a data-bs-toggle="modal" data-bs-target="#exampleModal1">Unete a Nosotros / Se un Partner</a></li>
					<li hidden><a href="/Partner"></a></li>
					<li><a href="#footer">Contacto</a></li>
					<li hidden ><a href="#footer">Casos de exitos</a></li hidden>
            </ul>
        </nav>
        <div class="mainDiv" style="font-size:1.2rem; padding: 0; margin: 0; text-align: justify;" >
            {{!-- INICIO --}}
            <section style="" id="banner" class="bg-img"  data-bg="fondoempresas.jpg">
                <div align="center" style="position: absolute;" class="inner">
                    <header>
                    <h4>You are in...</h3> 
                        <br>
                        <h1 style=" font-family: lobster"> The Best Staff</h1>
                    <h3>Staffing IT & Software Solutions</h3>
                    </header>
                </div>
                    <a style="margin: auto; background-color:lightgreen;" href="#one" class="more">
                        Learn More
                    </a>
            </section>
            <!-- staffin & IT Solution -->
            <section id="one" class="wrapper post bg-img" data-bg="fondoempresas5.jpg">
                <div class="inner">
                    <article style=""  class="box">
                        <header style="margin:-2rem 0 0 0">
                            <h2 style="color:white">Staffing IT Solutions</h2>
                        </header>
                        <br>
                        <div style="text-align:justify; font-size:1.2rem; color:aliceblue" class="content">
                            <p>
                                Nuestro genoma se compone del mejor talento de la región con más de 500 partners y 100 mil técnicos & ingenieros en todo el mundo IT lo que nos permite abarcar con variadas estrategias y precisión el análisis y la fabricación de software de las más variadas áreas e industrias. Aprovechamos la experiencia y Know-How de cada uno de nuestros partners, logrando que la unión de todos sea exponencialmente superior a la fuerza individual de cada uno, por esto en cada desafío hacemos interconsultas y logramos perfeccionar cada estrategia y decisión que tomamos a la hora de analizar y fabricar el mejor y más adecuado software. 
                                <br><br>
                                Somos los mejores en lo nuestro debido a que cada uno de nuestros partners colabora con toda su excelsa experiencia en lo que sabe para qué así sea, puesto TBS-IT no somos una empresa... Somos más de 500 empresas en una sola trabajando al unisonó para usted bajo la responsabilidad de TBS-IT.
                                <br><br>
                                Nuestras posibilidades de contratación son tanto Onsite como Online o mix garantizándole la mejor zona alineada para la más eficiente y optima comunicación. 
                                <br><br>
                                Nos especializamos en todas las tecnologías y senoritys, diseño UX/UI, DevOps, Scrumm Master con metodologías agiles y modernas siendo los únicos en el mercado que ofrecemos un protocolo profesional de cinco pasos que garantizan tu seguridad a la hora de contratar personal IT con una curva de adaptación muy breve y sin incurrir en costos por personal no satisfactorio que incluyen garantías de calidad y satisfacción.
                            </p>
                        </div>
                        <br>
                        <footer style="margin-bottom: -4rem;">
                            <a href="/Staffing" class="button alt">Saber Mas</a>
                        </footer>
                        <br>
                        <a style="margin-right: -95%;" type="button" class="btn btn-outline-info" href="/"><span class="">Volver</span>
                        </a>
                    </article>
                </div>
                <a href="#two" style="background-color:lightgreen" class="more">Learn More</a>
            </section>
            <!-- Dev Soft -->
            <section  id="two" class="wrapper post bg-img" data-bg="dev1.jpg">
                <div style=" padding: 0.1% !important; " class="inner">
                    <article style="margin-top:2%;height: 70%;" class="box">
                        <header style="margin-top:-3%;margin-bottom: -2%;" >
                            <h2 style="color:white">Desarrollo de Software.</h2>
                        </header>
                        <br>
                        <div style="font-size: 1.2rem;text-align: left; color:aliceblue;" class="content">
                            <p> <strong> Metodologías para la fabricación de software de calidad</strong>
                                <br><br>
                                En TBS usamos metodologías ágiles, tanto con nuestros clientes internos como externos para la correcta fabricación de Software con los más altos estándares de calidad. 
                                <br>
                                Construimos su proyecto de software mediante el concepto "Llave en mano o time & materials" según se considere el caso.
                                <br>
                                Conformamos equipos, células/squads cuyas dimensiones son directamente proporcionales al presupuesto, tiempos y los resultados buscados, compuestos por talentos en todos los señoritys con garantía de producción, que están certificados en todas las metodologías y tecnologías .
                                <br><br>
                                Como parte integral del desarrollo de nuestras soluciones tecnológicas, ponemos especial atención al uso de las correctas prácticas de programación para generar software legible, de calidad, escalable, rápido y eficiente. Somos los únicos del mercado que ofrecemos un sistema de garantía vitalicia por el software que hacemos.
                            </p>
                            <br>
                            <div class="">
                                <img class="" style="height:10rem; whidt:5rem;border-radius: 1rem;margin: -1% 0 0 37%;" src="images/certificados1.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <br>
                        <footer style="margin-bottom: -3%;">
                            <a href="/SoftDev" class="button alt">Saber Mas</a>
                        </footer>
                        <a style="margin-right: -95%;" type="button" class="btn btn-outline-info" href="/"><span class="">Volver</span>
                        </a>
                    </article>
                </div>
                <a style="background-color:lightgreen" href="#three" class="more">Learn More</a>
            </section>
            <!-- tecnologias -->
            <section id="three" class="wrapper post bg-img" data-bg="webpage.png">
                <div class="inner">
                    <article class="box">
                        <header>
                            <h2>Tecnologias</h2>
                        </header>
                        <div style="text-align: left; font-size: 1.3rem; color:aliceblue" class="content">
                            <p>
                                Estamos constantemente capacitándonos en las últimas propuestas tecnológicas del mercado IT. 
                                <br><br>
                                Nuestros talentos están altamente capacitados y certificados, algunos seniors con hasta más de 8 años de experiencia en cada una de sus diciplinas y dispuestos a hacer realidad hasta el más desafiante proyecto.
                                En TBS-IT la excelencia es nuestra obligación profesional. IT.
                            </p>
                            <br>
                        </div>
                        <div style="margin-bottom: -2rem;" align="center">
                            <img style="height:18rem; whidt:25rem; border-radius: 1rem; margin: ;" src="images/tecnos.png">
                        </div>
                        <footer hidden>
                            <a href="generic.html" class="button alt">Learn More</a>
                        </footer>
                        <br>
                        <a style="margin-right: -95%;" type="button" class="btn btn-outline-info" href="/"><span class="">Volver</span>
                        </a>
                    </article>
                </div>
                <a style="background-color:lightgreen" href="#four" class="more">Learn More</a>
            </section>
            <!-- areas de desarrollo-->
            <section id="four" class="wrapper post bg-img" data-bg="lenguajes2.png">
                <div class="inner">
                    <article class="box">
                        <header>
                            <h2>Areas de Desarrollo</h2>
                        </header>
                        <div style="text-align: left; color:aliceblue" class="content">
                            <p>
                                En TBS tenemos el más amplio portfolio de industrias en el área de desarrollo de Software IT & staffing delivery. 
                                <br>
                                Esto se debe a que somos una compañía compuesta por muchas otras compañías especialistas en cada industria lo que nos da mucha experiencia y nos hace increíblemente económicos y efectivos en el mercado.
                                                                <br>
                                Esto nos hace un equipo de talentos que por mucho supera a cualquier empresa puesto el gen de nuestra fuerza radica en la unión de los años de experiencias individuales de cada empresa partner que nos compone, haciendo que el total de las fuerzas sea por mucho muy superior a las individualidades de cada partner que nos compone y a cada empresa competencia que existe.
                                <br>
                                <br>
                                <strong> Áreas en que somos especialistas:</strong>
                                <br>
                                •	Web apps / Mobile / Web Design.
                                <br>
                                •	Descovery & Design Thinking.
                                                                <br> 
                                •	I.O.T.
                                                                <br>
                                •	Block Chain.
                                                                <br>
                                •	A.I. / I.A. Bots.
                                                                <br>
                                •	Big Data.
                                                                <br>
                                •	Gaming.
                                                                <br>
                                •	Q.A. analist & testing.
                                                                <br>
                                •	Ciber Security.
                                                                <br>
                                •	Clouding & Serverless.
                            </p>
                        </div>
                        <footer hidden>
                            <a href="generic.html" class="button alt">Learn More</a>
                        </footer>
                        <br>
                        <a style="margin-right: -95%;" type="button" class="btn btn-outline-info" href="/"><span class="">Volver</span>
                        </a>
                    </article>	
                </div>
                <a href="#five" style="background-color:lightgreen" class="more">Next</a>
            </section>
            <!-- Industrias -->
            <section id="five" class="wrapper post bg-img" data-bg="induIT2.webp">
            <div class="inner">
                <article class="box">
                    <header>
                        <h2>Industrias que desarrollamos</h2>
                    </header>
                    <div style="text-align: left; color:aliceblue" class="content">
                        <br>
                        <p>
                            En TBS poseemos ampla experiencia en todas las industrias entre ellas:
                            <br><br>
                            •	Laboratorios y Farmacéuticas
                                                        <br>
                            •	Banca & Fintech
                                                        <br>
                            •	Industria en grl / automotriz / IOT
                                                        <br>
                            •	Retails, Distribuidoras, Transportista (traking de productos y móviles).
                                                        <br>
                            •	Ventas (forecast), CRM´s, Contable / Facturación & Administración
                                                        <br>
                            •	Block blockChain
                            <br>
                            <br>
                            Entre muchas otras.

                        </p>
                    </div>
                    <footer hidden>
                        <a href="generic.html" class="button alt">Learn More</a>
                    </footer>
                    <br>
                        <a style="margin-right: -95%;" type="button" class="btn btn-outline-info" href="/"><span class="">Volver</span>
                        </a>
                </article>	
            </div>
            <a href="#six" style="background-color:lightgreen" class="more">Learn More</a>
            </section>
            <!-- Paises donde tenemos precensia: -->
            <section id="six" class="wrapper post bg-img" data-bg="Munconec.jpg">
            <div class="inner">
            <article class="box">
                <header>
                    <h2>Países done temenos presencia:</h2>
                </header>
                <div style="text-align: left; color:aliceblue" class="content flexlado">
                <h3>
                    <br>
                    Montevideo - Uruguay   /    Bs. As. & Córdoba - Argentina <br>
                    Miami - USA   /
                    Madrid - España <br>
                    Santiago - Chile /
                    México - Mex DF <br>
                    Bogotá - Colombia /
                    Lima - Perú <br>
                    UK - Londres  / Amsterdam - Paises Bajos
                </h3>
                </div>
                <br>
                <button type="button" class="btn btn-outline-info">				
                <a href="/"><span class="">Volver</span></a>
                </button>
            </article>	
            </div>
            </section>
        </div>
</div>