<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar bg-danger"  aria-label="Main navigation"  >
    <div style="margin:-2rem 1rem -0.5rem 1rem !important;" class="container-xxl">
        <a class="navbar-brand" href="/"> <strong> TBS Nosotros</strong></a>
        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
        </button>
        <a class="btn btn-danger" type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="bi bi-list" style="font-size: 1.5em;"></i></a>
        <div class="offcanvas offcanvas-end" style="background-color:rgb(224, 55, 55) ;" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ">
                <ul class="links">
                    <li class="">
                        <a class="" aria-current="page" href="/">Home</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">Cotizar</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/Staffing"><strong>Staffing</strong></a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/SoftDev"><strong>Software Factory</strong></a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/Nosotros">Nosotros</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/#paises">Paises donde tenemos precensia</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1"><strong>Unete a nosotros / se un Partner</strong> </a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="#footer">Contact</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="navbar-brand" href="#">
                            <img src="/images/TBS-IT1.jpg" alt="" data-bs-toggle="modal" data-bs-target="#signin1"  width="210" height="170">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- end of container -->
</nav> <!-- end of navbar -->
    <!-- end of navigation -->
    <!-- modal de cotizacion -->
    <!-- modal de cotizacion -->
<section id="post" class="wrapper nosotros py-5 d-flex align-items-center ">
    <div class="container">
        <div class=" carpetaNegra row d-flex align-items-center" style="height:min-content; color: aliceblue;">
            <div class="text-center pb-4">
                <h2 class="py-2">Sin dudas somos la mejor opción del mercado</h2>
            </div>
            <div class="col-lg-12 "  data-aos="fade-right">
                <div id="carouselExampleCaptions" class="carousel slide"  data-bs-ride="carousel">
                    <div class="carousel-inner" >
                        <div class="carousel-item active">
                            <div class="row d-flex align-items-center">
                                <div class="col-lg-7 " data-aos="fade-right">
                                    <h4 class="py-2">Nosotros </h4>
                                    <div class="py-2">
                                        <p>Nuestro origen radica en la pasion y entusiasmo de un grupo de personas, programadores Senior´s, Ceo´s y talentos en marketing que compartimos los mismos objetivos, pasion & vision que nos propusimos a alinear objetivos, hacer alianzas estrategicas y sumar siempre +1, como partner´s estrategicos a cuanto profesional, conocido, empresa cliente y amiga para formar <strong>TBS The Best Staff.</strong>
                                        </p>
                                        <p>Por esto TBS es la empresa mas grande de la region en cuanto a capacidades tecnicas, know-how y experiencia IT que existe. Una empresa joven con alma vieja llena de extraordinarios talentos del mundo IT donde todos sumados generamos mas que nuestras individualidades.
                                        </p>
                                        <p>Nos une la misma pasion y nos identifica el orgullo del cliente satisfecho y el trabajo bien hecho.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                    <img class="img-fluid foto" src="/images/mundoIT3.jpg" alt="about" >
                                </div>
                            </div> <!-- end of row -->
                        </div>
                        {{!-- mision vision  --}}
                        <div class="carousel-item">
                            <div class="row d-flex align-items-center">
                                <div style="margin-top:-0rem;" class="col-lg-7" data-aos="fade-right">
                                    <h3 class="py-2">Mision, Vision & Valores. </h3>
                                    <p class="py-2">
                                    <strong>Mision:</strong>
                                        <p>
                                            Software de la maxima calidad.
                                            <br>
                                            Cliente Satisfecho que pase a integrar nuestro universo TBS en una relación extensa en el tiempo.
                                        </p>
                                    <strong>Vision:</strong>
                                    <p>
                                        Convertirnos en un universo donde nuestros clientes participen activamente en descubrir y re descubrir permanentemente nuevas formas de generar y concretas sus ideas e productos digitales de primera calidad, de forma apasionada, amena, rápida, eficiente y profesional.
                                    </p>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                                <div align="left" class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down">
                                    <strong>Valores:</strong>
                                        <p align="left">
                                            Creemos en el respeto, en el valor que tiene la palabra y el compromiso. Apoyamos la propiedad privada. Creemos y respetamos ideologías, políticas, religiones y somos afín con muchas culturas que nos componen. Somos un universo de talentos, experiencias, pasiones y sobre todo, todos llevamos el mismo lema
                                        </p>
                                    <p>"...la palabra es un comprimiso vitalicio y sagrado..."</p>
                                    <img style="height:8rem; width:10rem" class="img-fluid foto" src="/images/mvv1.jpg" alt="about" hidden>
                                </div>
                            </div> <!-- end of row -->
                        </div>
                        {{!-- ceo --}}
                        <div class="carousel-item">
                            <div class="row d-flex align-items-center">
                                <div style="margin-top:-4rem;" class="col-lg-7" data-aos="fade-right">
                                    <h3 class="py-2">CEO </h3>
                                    <p style="text-align: justify;">
                                        "...Lo mas importante en las relaciones comerciales, son las relaciones humanas.
                                        Para lograr relaciones a largo plazo primero se debe comprender la emocionalidad involucrada en el profesionalismo de cada ser humano que compone tu equipo de trabajo incluyendo a tus clientes. Por mas de 25 años siempre fue la base de mi conducta profesional, incluyendo una permanente exigencia en: responsabilidad, profesionalismo, capacitación permanente, acompañamiento constante y sobre todo en el cumplimiento de nuestros compromisos, nuestra palabra "siendo uno mas al remo".
                                        <br>
                                        <strong>Esta es la base de cualquier contrato y relación exitosa.</strong>
                                        <br>
                                        Por eso en el universo de partners, talentos IT, y profesionales que integramos TBS-IT sabemos de esta importancia fundamental, de su cumplimiento sin excusas y sus exitosas consecuencias a largo plazo.
                                        <br>
                                        por eso te decimos<strong>... mas que contratar una empresa, integras nuestro universo IT  dedicado a tu éxito..."</strong>
                                    </p>
                                </div>
                                <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                    <img style="height:22rem; width:18rem;" class="img-fluid foto" src="/images/seba.png" alt="about" >
                                    <p>Sebastian Payssé - CEO TBS-IT</p>
                                </div>
                            </div> <!-- end of row -->
                        </div>
                        {{!-- costoFinal --}}
                        <div class="carousel-item">
                            <div class="row d-flex align-items-center">
                                <div class="col-lg-12" data-aos="fade-right">
                                </div>
                                <div class="col-lg-12 text-center py-4 py-sm-0" data-aos="fade-down">
                                    <br />
                                    <br />
                                    <br />
                                        <br />
                                    <br />
                                    <br />
                                    <h3>¡Bienvenid@s a nuestro universo IT!</h3>
                                    <br />
                                    <br />
                                    <br />
                                                                        <br />
                                    <br />
                                    <br />
                                    <br />
                                </div>
                            </div> <!-- end of row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- botonera --}}
        <div class="position-relative m-4">
            <ul style="margin-top: -1rem;"  class="action flexlado">
            <li style="margin-right: 5rem";>
            <button style="padding: 1rem; height: min-content;" class="alertaVerde" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            Anterior
            </button>
            </li>
            <li style="margin-left: -7rem"; class="position-absolute top-0 start-100">
            <button style="padding: 1rem; height: min-content;" class="alertaVerde" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            Siguiente
            </button>
            </li>
            </ul>
        </div>
    </div>
</section>

{{!-- <section class="nosotros py-5">
     <div class="text-center pb-4">
        <h2 class="py-5"></h2>
    </div>
</section> --}}