<div class="subpage">
		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="/">TBS Nosotros<span></span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>
        <!-- Nav -->
        <nav style="position:absolute; z-index: 99999999999999; color:white" id="menu">
            <ul class="links">
				<li><a href="/">Home</a></li>
				<li style="cursor: pointer;" ><a data-bs-toggle="modal" data-bs-target="#exampleModal">Cotizar</a></li>				
					<li><a href="/Staffing"><strong>Staffing</strong></a></li>
					<li><a href="/SoftDev"><strong>Software Factory</strong></a></li>
                <div hidden>
                <hr>
                <div class="dropdown" >
                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-target="dropdown" aria-expanded="false">
                        Areas de desarrollo
                    </button>
                    <ul style="background-color: rgb(248, 98, 11) ;" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="webap.html">Web apps / Mobile / Web Design</a></li>
                        <li><a class="dropdown-item" href="discovery.html">Descovery & Design Thinking</a></li>
                        <li><a class="dropdown-item" href="IOT.html">I.O.T</a></li>
                        <li><a class="dropdown-item" href="blockChain.html">Block Chain</a></li>
                        <li><a class="dropdown-item" href="IA.html">A.I. / I.A. Bots</a></li>
                        <li><a class="dropdown-item" href="BigData.html">Big Data</a></li>
                        <li><a class="dropdown-item" href="gaming.html">Gaming</a></li>
                        <li><a class="dropdown-item" href="QA.html">Q.A. analist & testing</a></li>
                        <li><a class="dropdown-item" href="ciberSec.html">Ciber Security</a></li>
                        <li><a class="dropdown-item" href="serverless.html">Clouding & Serverless</a></li>
                    </ul>
                </div>
                <hr>
                <div class="dropdown" >
                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-target="dropdown" aria-expanded="false">
                        Industrias 
                    </button>
                    <ul style="background-color: rgb(248, 98, 11) ;" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="webap.html">Fintech & Banking</a></li>
                        <li><a class="dropdown-item" href="webap.html">Ingenieria & Mecatronica</a></li>
                        <li><a class="dropdown-item" href="discovery.html">Retails & Distributions</a></li>
                        <li><a class="dropdown-item" href="IOT.html"></a></li>
                        <li><a class="dropdown-item" href="blockChain.html">Block Chain</a></li>
                        <li><a class="dropdown-item" href="IA.html">Healt & Pharma</a></li>
                        <li><a class="dropdown-item" href="BigData.html">B2B</a></li>						
                    </ul>
                </div>
                <br>
            </div>
					<li><a href="/Nosotros">Nosotros</a></li>
					<li hidden><a href="elements.html">Valores / Mision</a></li>
					<li><a href="#five">Paises donde tenemos precensia</a></li>
					<li style="cursor: pointer;" ><a data-bs-toggle="modal" data-bs-target="#exampleModal1">Unete a Nosotros / Se un Partner</a></li>
					<li hidden><a href="/Partner"></a></li>
					<li><a href="#footer">Contacto</a></li>
					<li hidden ><a href="#footer">Casos de exitos</a></li hidden>
            </ul>
        </nav>

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="nosotros1.jpg">
				<div style="padding-top:-2rem !important ;" class="inner">
					<article style="margin:-1rem 10rem 0 -8rem; height: 37rem; width: 140%; padding:1.5rem" class="box">
						<header style="margin-top:-2.rem" class="center">
							<h1>Nosotros</h2>
						</header>
						<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
							<div style="" class="carousel-inner">
								<div  class="carousel-item active" data-bs-interval="30000">
		  							<div style="color:aliceblue"  class="flexlado">
										<div style="margin: 0.25rem;width: 140%;">
										<h></h2>
											<h5>
												Nuestro origen radica en la pasion y entusiasmo de un grupo de personas, programadores Senior´s, Ceo´s y talentos en marketing que formamos nuestras propias empresas IT, de recruiting y marketing digital, con muchos años de experiencias en conjuto ya recorridos.
												<br>
												<br>
												Los mismos objetivos, vision y la vida misma en si nos juntaron y nos propusimos a alinear objetivos, hacer alianzas estrategicas y sumar como partner estrategico a cuanto profesional, conocido, empresa cliente y amiga con la cual hemos trabajado en el pasado, acordando y respetando los mismos objetivos y vision para formar TBS The Best Staff.
												<br>
												<br>
												Por esto TBS es la empresa mas grande de la region en cuanto a capacidades tecnicas, know-how y experiencia IT que existe. Una empresa joven con alma vieja llena de extraordinarios talentos del mundo IT donde todos sumados generamos mas que nuestras individualidades.
												<br>
												<br>
												Nos une la misma pasion y nos identifica el orgullo del cliente satisfecho y el trabajo bien hecho.
												<br>
												<br>
												Por eso en TBS decimos...
												<br>
												<br>
	
											</h3>
										</div>
										<div >
											<img style="height: 25rem;" class="foto" src="images/mundoIT3.jpg" class="d-block w-100" alt="...">
										</div>
									</div>
									<h4 style="text-align: center;" > <strong> "... mas que contratar una empresa... integras nuestro universo IT..." </strong></h4>
								</div>
								<div  class="carousel-item" data-bs-interval="20000">
									<div style="margin:1rem 0 0 7rem; color:aliceblue"  class="flexlado">
										<div >
											<img style="margin-right: 1rem; height: 28rem; width: 32rem;" class="foto" src="images/mvv1.jpg" class="d-block w-100" alt="...">
										</div>
										<div style="width: 32rem; height: 27rem;">
											<h4>Mision, Vision & Valores</h3>
											<h5> <strong> Mision: </strong></h4>
											<h6>
												Software de la maxima calidad
												<br>
												Cliente Satisfecho que pase a integrar el universo TBS
											</p>
											<h5> <strong> Vision: </strong></h4>
											<h6>
												Convertirnos en un universo donde nuestros clientes participen activamente en descubrir y re descubrir permanenetemente nuevas formas de generar y concretas sus ideas e prodctois digitales de primera calidad, de forma apasionada, amena, rapida, eficiente y profesional.
											</p>
											<h5> <strong> Valores: </strong></h4>
											<h6>
												Creemos en el respeto, en el valor que tiene la palabra y el compromiso. Apoyamos la propiedad privada.	Creemos y respetamos idelogias, politicas, religiones y somos afin con muchas culturas que nos componen. Somos un universo de talentos, experiencias, pasiones y sobre todo, todos llevamos el mismo lema 
												<br>
												<br>
												"...la palabra es un comprimiso vitalicio y sagrado..."
											</p>
										</div>
									</div>
								</div>
								<div  class="carousel-item" data-bs-interval="10000">
									<div class=" center" style="color:aliceblue">
										<br>
										<br>
										<br>
										<br>
										<br>
										<br>
										<h1>¡Bienvenid@s a nuestro mundo IT!</h1>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
					<ul style="margin-top: -1rem;" class="actions flexlado">
						<li style="margin-left: 20rem";>
							<button style="padding: 1rem; height: min-content; font-size: 1rem;" class="alertaVerde" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">Anterior
							</button>
						</li>
						<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
						<li style="margin-right: 20rem">
							<button style="padding: 1rem; height: min-content; font-size: 1rem;" class="alertaVerde " type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">Siguiente
							</button>
						</li>
							</ul>
			</section>
	</div>
