		<style>

    .producto-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-bottom: 10px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .producto-header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #f0f0f0;
    }

    .producto-titulo {
        font-weight: bold;
    }

    .producto-subtotal {
        color: #008000;
    }

    .producto-eliminar {
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }

    .producto-eliminar:hover {
        transform: scale(1.2);
    }

    .producto-content {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .producto-img img {
        margin-right: 10px;
    }

    .producto-detalle {
        flex-grow: 1;
        overflow: hidden;
    }

    .descripcion {
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .cantidad {
        display: flex;
        align-items: center;
    }

    .btn-cantidad {
        cursor: pointer;
        font-size: 16px;
        margin: 0 5px;
        transition: transform 0.2s ease-in-out;
    }

    .btn-cantidad:hover {
        transform: scale(1.2);
    }

    .precio {
        margin-top: 5px;
        font-size: 14px;
        color: #555;
    }

    .producto-subtotal-precio {
        font-weight: bold;
        color: #008000;
    }
</style>
		<div>
            <div class="producto-img">
                <img src="${imagen}" alt="Logo" height="80" width="50">
            </div>
            <div class="producto-detalle">
                <p class="descripcion">${descripcion}</p>
                <div class="cantidad">
                    <a class="btn-cantidad" onclick="updateCantidad(-1)">-</a>
                    <input name="cantidad" style="width: 40px;" id="cantidad" value="${cantidades}" />
                    <a class="btn-cantidad" onclick="updateCantidad(1)">+</a>
                </div>
                <div class="precio">${formatoMoneda(precios)}</div>
            </div>
            <div class="producto-subtotal-precio" id="subtotal">${formatoMoneda(calcularSubtotal(cantidades, precios))}</div>
		</div>
