<section class="soft py-5 d-flex align-items-center">
    <div class="container text-light" >
        <div class="">
            <div style="" class="carpetaNegra row d-flex align-items-center" >
                <div style="min-height:27rem;" class="col-lg-12" data-aos="fade-right">
                    <div class="text-center">
                        <h2 class="py-4">Sin dudas somos la mejor opción del mercado</h2>
                    </div>
                    <div style="" id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" data-bs-interval="20000">
                            {{!-- presentacion --}}
                            <div class="carousel-item active" data-bs-interval="20000">
                                <div class="row d-flex align-items-center">
                                    <div class="justify-content-center col-lg-7" data-aos="fade-right">
                                        <h4 class="py-2">Software Custom Factory. </h4>
                                        <p>
                                            Poseemos la red de partners internacional más grande de Latinoamérica y USA, lo que nos permite tener más de 50 mil técnicos e ingenieros altamente capacitados en todo el mundo para cubrir las más variadas demandas de desarrollo de software de cualquier rubro industrial por cada tecnología IT.
                                            <br>
                                            Nos apoyamos en empresas partners similares en todo el mundo, quienes formamos una red global de miles de personas/profesionales, compartiendo todos nuestro know-how, experiencias, pasión y profesionalismo para cubrir todo tipo de soluciones y satisfacer una demanda creciente.</p>
                                        </p>
                                    </div>
                                    <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                        <img class="img-fluid" src="/images/mc1.jpg" alt="about" >
                                    </div>
                                </div>
                            </div>
                            {{!-- Beneficios al elegirnos. --}}
                            <div class="carousel-item" data-bs-interval="20000">
                                <div class="row d-flex align-items-center">
                                    <div class="col-lg-7" data-aos="fade-right">
                                    
                                    <h4 class="py-2">Beneficios al elegirnos. </h4>
                                    <p class="py-2">
                                    <p>° Equipos listos para empezar a la brevedad su Proyecto.</p>
                                    <p>° Protocolo de 5 pasos que te garantiza una correcta implementación.</p>
                                    <p>° Garantía vitalicia opcional.</p>
                                    <p>° Análisis a implementación de un plan de acción sin cargo.</p>
                                    <p>° 100% profesional y confidencialidad con NDA firmado.</p>
                                    <p>° Bajos costos y alta calidad en comparación a nuestra competencia local.</p>
                                    <p>° Asesorías sin cargo, soporte legal y profesional en nuestros servicios.</p>
                                    <p>° Opciones de pagos y tarifas flexibles.</p>
                                    <p>° Mantenimiento mensual con hasta un 50% de descuento.</p>
                                        </p>
                                </div>
                                <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                    <img class="img-fluid" src="/images/bene2.jpg" alt="about" >
                                </div>
                            </div> <!-- end of row -->
                            <div class="carousel-caption d-md-block">

                            </div>
                            </div>
                            {{!-- valor agregado --}}
                            <div class="carousel-item" data-bs-interval="20000">
                                <div class="row d-flex align-items-center">
                                    <div class="col-lg-7" data-aos="fade-right">
                                        
                                        <h4 class="py-2">Valor agregado:</h4>
                                        <p>
                                            ° Amor y pasión por lo que hacemos, no encontraras este valor escrito en ninguna página web de ningún proveedor de servicios IT puesto ellos trabajan,<strong> "nosotros amamos lo que hacemos"</strong>.
                                            </p>
                                        <p>° Reclutamiento especializado y focalizado con expertos para cada tecnología y señority.
                                        </p>
                                        <p>° Capacitaciones continuas.</p>
                                        <p>° Certificación de funcionalidad antes de facturar.</p>
                                        <p>° Ejecutivo de cuentas asignado.</p>
                                        <p>° SDM (service delivery manager) asignado.</p>
                                        <p>° Atención 24/7.</p>
                                    </div>
                                    <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                        <img class="img-fluid" src="/images/valor1.jpg" alt="about" >
                                    </div>
                                </div> <!-- end of row -->
                            <div class="carousel-caption d-md-block">

                            </div>
                            </div>
                            {{!-- ptoto 1ero --}}
                            <div class="carousel-item" data-bs-interval="20000">
                                <div class="row d-flex align-items-center">
                                    <div class="col-lg-7" data-aos="fade-right">
                                        <h4 class="py-2">Protocolo de plan de acción en 5 pasos sin cargo. 1ero. </h4>
                                        <p class="py-2">
                                            Acordamos una entrevista que puede ser personal o por una videollamada, nos conocemos, escuchamos tu proyecto e ideas y desde una simple pagina web o hasta los mas complejos proyectos, te asesoramos en el mejor camino al éxito. Es decir, si te conviene un esquema time & material llave en mano o un mix, que tecnologías usar, si usar serverless o servidor propio entre tantos otros puntos, como puede ser migraciones de tecnologías, BD´s, etc. Acordamos una segunda reunion para definir algunos puntos y te presentamos un plan de acción que incluye hasta las condiciones comerciales con los precios finales (mayores descuentos, alcance, SLA´s etc.).
                                        </p>
                                    </div>
                                    <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                        <img class="img-fluid" src="/images/entrevista2.webp" alt="about" >
                                    </div>
                                </div> <!-- end of row -->
                            </div>
                            {{!-- proto 2do --}}
                            <div class="carousel-item" data-bs-interval="20000">
                                <div class="row d-flex align-items-center">
                                    <div class="col-lg-7" data-aos="fade-right">
                                        
                                        <h4 class="py-2">Protocolo de 5 pasos. 2do </h4>
                                        <p class="py-2">
                                        Armamos un plan de acción, detectando cada punto de dolor y sus soluciones, seleccionamos las adecuadas tecnologías para el proyecto, una cadena de mando y responsables para consolidar el plan de acción con metodologías ágiles del estilo scrumm.
                                    Acordamos si la participación del cliente va a ser activa y que rol va a cumplir como un PM/OP o simplemente solo de observación.
                                    El proyecto se sub divide en pequeñas partes denominadas sprint, las cuales tienen tiempos de entregas, responsables y se priorizan en orden a la funcionalidad del proyecto.
                                        </p>
                                    </div>
                                    <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                        <img class="img-fluid" src="/images/cand1.jpg" alt="about" >
                                    </div>
                                </div> <!-- end of row -->
                            <div class="carousel-caption d-md-block">

                            </div>
                            </div>
                            {{!-- proto 3ero --}}
                            <div class="carousel-item" data-bs-interval="20000">
                                <div class="row d-flex align-items-center">
                                    <div class="col-lg-7" data-aos="fade-right">
                                        
                                        <h4 class="py-2">Protocolo de 5 pasos. 3ero </h4>
                                        <p class="py-2">
                                    Luego de definir las condiciones comerciales y el acuerdo del pago inicial, el equipo propio de TBS-it-IT junto a nuestra amplia red de partners con mas de 100.000 mil candidatos se dedica a armar "The Best Staff" para nuestro proyecto, 
                                    consolidando los mejores talentos en un equipo multidisciplinario, para empezar a trabajar, esto nos puede llevar hasta 15 días dependiendo de cada proyecto y sus particularidades.
                                        </p>
                                    </div>
                                    <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                        <img class="img-fluid" src="/images/prot3.jpeg" alt="about" >
                                    </div>
                                </div> <!-- end of row -->
                            </div>
                            {{!-- proto 4to --}}
                            <div class="carousel-item" data-bs-interval="20000">
                                <div class="row d-flex align-items-center">
                                    <div class="col-lg-7" data-aos="fade-right">
                                        <h4 class="py-2">Protocolo de 5 pasos. 4to</h4>
                                        <p class="py-2">
                                            En la finalización de cada sprint se pone en marcha controles exhaustivos de calidad con las correcciones y actualizaciones pertinentes que surgiesen y una vez aprobados se aplican al proyecto y se facturan.
                                        </p>
                                        <p>Una vez cobrada la factura se continua con el siguiente sprint, y asi sucesivamente hasta concluir el proyecto.
                                        </p>
                                        <p>
                                            Como se observa nuestro protocolo no deja lugar a dudas, software con problemas o mal funcionamiento ni a retrasos innecesario, y con una garantía de funcionamiento permanente si asi lo desea el cliente.
                                        </p>
                                    </div>
                                    <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                        <img style="height:20rem;" class="img-fluid" src="/images/100black.webp" alt="about" >
                                    </div>
                                </div> <!-- end of row -->
                            </div>
                            {{!-- proto 5to --}}
                            <div class="carousel-item" data-bs-interval="20000">
                            <div class="row d-flex align-items-center">
                                <div class="col-lg-7" data-aos="fade-right">
                                    <h4 class="py-2">Protocolo de 5 pasos. 5to</h4>
                                    <p class="py-2">
                                        El proyecto una vez finalizado y testeado por nuestros profesionales, se pone en producción y se entrega.
                                    </p>
                                    <p>
                                        Una vez cobrada la factura se continua con el siguiente sprint, y asi sucesivamente hasta concluir el proyecto.
                                    </p>
                                    <p>
                                        Se ofrece la posibilidad de obtener una garantía vitalicia por el mismo.
                                    </p>
                                </div>
                                <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                    <img style="height:17rem;" class="img-fluid" src="/images/webpage.png" alt="about" >
                                </div>
                            </div> <!-- end of row -->
                        </div>
                        {{!-- tecnos --}}
                        <div class="carousel-item" data-bs-interval="20000">
                            <div style="" class="row d-flex align-items-center">
                                <div style="margin:1rem 0 4rem 0 ;" class="row d-flex align-items-center">
                                    <div class="text-center pb-4">
                                        <h4 class="py-0">Tecnologías mas populares</h4>
                                    </div>
                                    <br>
                                    <div class="col-lg-4 text-center py-2 py-sm-0" data-aos="fade-down"> 
                                        <img class="img-fluid d-block w-100" style=" width:50%; height: 13rem;" src="/images/lp6.jpg" alt="about" >
                                    </div>
                                    <div class="col-lg-4 text-center py-2 py-sm-0" data-aos="fade-down"> 
                                        <img class="img-fluid d-block w-100"  style=" width:50%; height: 13rem;" src="/images/lp5.jpg" alt="about" >
                                    </div>
                                    <div class="col-lg-4 text-center py-2 py-sm-0" data-aos="fade-down"> 
                                        <img class="img-fluid d-block w-100"  style=" width:50%; height: 13rem;" src="/images/lp3.jpg" alt="about" >
                                    </div>
                                </div> <!-- end of row -->
                            </div>
                        </div>
                        {{!-- final --}}
                        <div class="carousel-item" data-bs-interval="20000">
                            <div class="row d-flex align-items-center">
                                <div class="col-lg-12" data-aos="fade-right">
                                </div>
                                <div class="col-lg-12 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                    <br>
                                    <br>
                                    <h2 class="py-2">Simplemente</h2>
                                    <h2 class="py-2">!Te esperamos!</h2>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div> <!-- end of row -->
                            <div class="carousel-caption d-md-block">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- botonera --}}
            <div style="margin-top: -1.5rem;">
                <div class="position-relative m-4">
                    <ul style="margin-top: -1rem;"  class="action flexlado">
                        <li style="margin-left:-2rem";>
                            <button style="padding: 1rem; height: min-content;" class="alertaVerde" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            Anterior
                            </button>
                        </li>
                        <li style="margin-left: -7rem"; class="position-absolute top-0 start-100">
                            <button style="padding: 1rem; height: min-content;" class="alertaVerde" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            Siguiente
                            </button>
                        </li>
                    </ul>
                </div>
                <div style="margin-top:-5rem;" class="d-flex justify-content-center py-2">
                    <li style="";>
                        <button style="padding:1rem" class="alertaVerde" type="button">
                            <a href="/cotizarSoftware"><strong><h4>Cotizar</h4></strong></a>
                        </button>
                    </li>
                </div>
            </div>
        </div>
    </div>
</section>