<section class="staffing  py-5  d-flex align-items-center">
    <div style="margin-top:-0.5rem" class="container text-light inner" >
        <div class="carpetaNegra container">
            <div class="row  d-flex align-items-center" >
                <div style="" class="col-lg-12" data-aos="fade-right">
                    <br>
                    <div style="margin-top:-2rem" class="text-center">
                        <h2 class="py-4">En Staffing tenemos los mejores talentos del mercado</h2>
                    </div>
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div style="margin-top: -1rem;" class="carousel-inner">
                            {{!-- presentacion --}}
                            <div class="carousel-item active" data-bs-interval="20000">
                                <div style="margin:1rem 0 -1rem 0 ;" class="row d-flex align-items-center">
                                    <div class="col-lg-7" data-aos="fade-right">
                                        <h4 style="margin-bottom:2rem" class="py-4">Staffing Global NET Solutions </h4>
                                        <p style="margin-top:-3rem" class="py-4">
                                            Somos innovadores y creamos S.G.N.S. (Staffing Global NET Solutions) lo que provee a nuestros clientes de la red de partners internacional más grande de Latinoamérica y USA, lo que nos permite tener 150 partners con más 10 mil ingenieros altamente capacitados en todo el mundo para cubrir las más variadas necesidades de nuestros clientes en cualquier zona horaria.
                                            <br>
                                            <br>
                                            Nos apoyamos en empresas partners similares en todo el mundo quienes formamos una red global de miles de personas/profesionales compartiendo todos nuestros know-how, experiencias, pasión y profesionalismo para cubrir todo tipo de soluciones y satisfacer una demanda creciente.
                                        </p>
                                    </div>
                                    <div style="margin-top: 1rem;" class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                        <img style="" class="img-fluid foto d-block w-100" src="/images/mc1.jpg" alt="about" >
                                    </div>
                                </div> <!-- end of row -->
                                <br>
                            </div>
                            {{!-- ejemplo cotizador --}}
                            <div class="carousel-item" data-bs-interval="20000">
                                <div class="row d-flex align-items-center">
                                        <div class="col-lg-7" data-aos="fade-right">
                                        
                                            <h4 class="py-3">Exclusivo sistema de cotizaciones Staffing IT</h4>
                                            <p class="py-2">
                                                Como innovadores, somos los primeros en crear un sistema con A.I. que te permite cotizar en segundos ya sea un solo talento o a todo un equipo de técnicos/ingenieros para cubrir tus necesidades.
                                            </p>
                                            <p class="py-2">
                                                Esto lo hicimos con la intención de cumplir con nuestra génesis de honestidad, transparencia y para terminar con la especulación en el mercado que apunta a cobrar según el tipo de cliente.
                                                <br>La idea es que todos puedan rápidamente saber el precio real del mercado en el momento que deseen de forma honesta y transparente.
                                            </p>
                                            <br>
                                            <h5 align="center" ><strong>Tienes que probarlo, presiona cotizar, descúbrelo y pasalo.</strong></h5>
                                        </div>
                                        <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                            <img style="height: 17rem; width: 15rem; margin-top: 4rem; margin-bottom: -2rem;" class="img-fluid foto d-block w-100" src="/images/sistCoti.jpg" alt="about" >
                                        </div>
                                </div>
                                <br>
                            </div>
                            {{!-- Beneficios --}}
                            <div class="carousel-item" data-bs-interval="20000">
                                <div style="margin:2rem 0 0rem 0;" class="row d-flex align-items-center">
                                    <div style="" class="col-lg-7" data-aos="fade-right">
                                        <h4 class="py-2">Beneficios al elegirnos. </h4>
                                        <br>
                                        <p class="py-2">
                                            • Mas de 20 años de experiencia en el mercado.
                                        </p>
                                        <p class="py-2">
                                            • Equipos listos para empezar a la brevedad su proyecto.
                                        </p>
                                        <p class="py-2">
                                            • Protocolo de 5 pasos que te garantiza el personal indicado trabajando en tu proyecto sin perdidas de tiempo y dinero por adaptaciones costosas.
                                        </p>
                                        <p class="py-2">
                                            • Garantía exclusiva de 20 días al 50% del cargo por no conformidad.
                                        </p>
                                        <p class="py-2">
                                            • Lenguaje y tiempo alineado a su región.
                                        </p>
                                        <p class="py-2">
                                            • Confidencialidad con NDA firmado.
                                        </p>
                                    </div>
                                    <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                        <img style="width:7rem; height: 18rem; margin-top:4rem;" class="img-fluid foto d-block w-100" src="/images/beneficios2.jpg" alt="about" >
                                    </div>
                                </div> <!-- end of row -->
                            </div>
                            {{!-- cont beneficios2 --}}
                            <div class="carousel-item" data-bs-interval="20000">
                                <div style="margin-top: 5rem;" class="row d-flex align-items-center">
                                        <div class="col-lg-7" data-aos="fade-right">
                                            <h4 class="py-4">Cont. Beneficios.</h4>
                                            <p class="py-2">
                                                • Bajos costos y alta calidad en comparación a nuestra competencia local.
                                            </p>
                                            <p class="py-2">
                                                • Asesorías sin cargo, y soporte legal y profesional en nuestros servicios.
                                            </p>
                                            <p class="py-2">
                                                • Posibilidad de tomar permanentemente a nuestro personal.
                                            </p>
                                            <p class="py-2">
                                                • Todas las categorías Junior, Junior Advance, Semi senior, Senior y tech lead.
                                            </p>
                                            <p class="py-2">
                                                • Opciones de pagos y tarifas flexibles.
                                            </p>
                                            <br>
                                        </div>
                                        <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                            <img style="margin-top: 2rem; height: 15rem;" class="img-fluid foto d-block w-100" src="/images/bene2.jpg" alt="about" >
                                        </div>
                                    </div> <!-- end of row -->
                                    <div class="carousel-caption d-md-block">
                            </div>
                            </div>
                            {{!-- valor agregado --}}
                            <div class="carousel-item" data-bs-interval="20000">
                                <div class="row d-flex align-items-center">
                                    <div class="col-lg-7" data-aos="fade-right">
                                        <h4 class="py-2">Valor agregado: </h4>
                                        <p class="py-2">
                                            Amor y pasión por lo que hacemos, no encontraras este valor escrito en ninguna pagina web de ningún proveedor de servicios IT puesto ellos trabajan,
                                            <strong>"nosotros amamos lo que hacemos".</strong>
                                        </p>
                                        <p class="py-2">
                                            • Reclutamiento especializado y focalizado con expertos para cada tecnología y señority.
                                        </p>
                                        <p class="py-2">
                                        • Capacitaciones continuas.
                                        </p>
                                        <p class="py-2">
                                            • Certificación de horas antes de facturar.
                                        </p>
                                        <p class="py-2">
                                            • Ejecutivo de cuentas & SDM (service delivery manager) asignado.
                                        </p>
                                        <p class="py-2">
                                            • Control y seguimiento del estado de salud, anímico y emocional de nuestro staff.
                                        </p>
                                    </div>
                                    <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                        <img style="height: 21rem; margin-top:3rem" class="img-fluid foto d-block w-100" src="/images/valor1.jpg" alt="about" >
                                    </div>
                                </div> <!-- end of row --> 
                            </div>
                            {{!-- 1er paso --}}
                            <div class="carousel-item" data-bs-interval="20000">
                                <div class="row d-flex align-items-center">
                                    <div class="col-lg-7" data-aos="fade-right">
                                        <h4 style="margin-top:-1rem" class="py-5">Protocolo de 5 pasos sin cargo. </h4>
                                        <p style="margin-top:-2rem" class="py-3">
                                            Somos los únicos en el mercado con un protocolo de cinco pasos sin costos para usted:
                                        </p>
                                        <p style="margin-top:-1rem" class="py-3">
                                            <strong>1ero.</strong>
                                            <br>
                                            Acordamos una entrevista que puede ser personal o por una video-llamada, conocemos tus necesidades y proyectos, 
                                            te asesoramos en el mejor camino al éxito, acordamos los precios finales (mayores descuentos, alcance, SLA´s etc.), ajustamos los parámetros de la descripción del puesto y firmamos un contrato marco M.S.A. (Master Statement Agreement) que indica los alcances límites de la propuesta y N.D.A. (Non Disclosure Agrement) sin compromiso económico alguno.
                                        </p>
                                    </div>
                                    <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                        <img style="margin-top: 4rem" class="img-fluid foto d-block w-100" src="/images/entrevista2.webp" alt="about" >
                                    </div>
                                </div> <!-- end of row -->
                            </div>
                            {{!-- 2do --}}
                            <div class="carousel-item" data-bs-interval="20000">
                                <div style="margin-top:2rem 0 2rem 0" class="row d-flex align-items-center">
                                    <div style="margin:1rem 0 4rem 0" class="col-lg-7" data-aos="fade-right">
                                        <h4 class="py-5">Protocolo de 5 pasos. 2do </h4>
                                        <p style="margin-top:-2rem" class="py-2">
                                            <strong>2do:</strong>
                                            <br>
                                            Buscamos tu candidato entre más de 10.000 ingenieros y técnicos IT en todas las tecnologías de nuestra red mundial de partners y coordinamos entrevistas técnicas contigo o las personas que nos indiques.
                                        </p>
                                        <br>
                                        <p class="py-2">
                                            Las entrevistas son sin costo alguno con la finalidad de encontrar el match perfecto para tu proyecto.
                                        </p>
                                    </div>
                                    <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                        <img style="height: 15rem; margin-top:3rem;" class="img-fluid foto d-block w-100" src="/images/cand1.jpg" alt="about" >
                                    </div>
                                </div> <!-- end of row -->
                            </div>
                            {{!-- 3ero --}}
                            <div class="carousel-item" data-bs-interval="20000">
                                <div style="margin:4rem 0 2rem 0" class="row d-flex align-items-center">
                                    <div style="margin:-3rem 0 5rem 0" class="col-lg-7" data-aos="fade-right">
                                        <h4 class="py-5">Protocolo de 5 pasos.  </h4>
                                        <p style="margin-top:-3rem" class="py-2">
                                            <strong>3ero.</strong>
                                            <br>
                                            Una vez elegido el candidato o candidatos, estos empiezan a trabajar, si no te convence el desempeño de algún talento podemos cambiarlo, como garantía de calidad total.
                                            <br>
                                            Tienes 20 días de garantía con un 50% sin cargo para todos los señoritys.
                                        </p>
                                    </div>
                                    <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                        <img style="height: 15rem; margin-top: 2rem;" class="img-fluid foto d-block w-100" src="/images/prot3.jpeg" alt="about" >
                                    </div>
                                </div> <!-- end of row -->
                            <div class="carousel-caption d-md-block">
                            
                            </div>
                            </div>
                            {{!-- 4to --}}
                            <div class="carousel-item" data-bs-interval="20000">
                                <br>
                                <div style="margin:2rem 0 2rem 0" class="row d-flex align-items-center">
                                    <div style="margin:-1.5rem 0 2rem 0" class="col-lg-7" data-aos="fade-right">
                                        <h4 class="py-2">Protocolo de 5 pasos.</h4>
                                        <p class="py-2">
                                            <strong>4to</strong>
                                            Al final del primer mes se certifican las horas reales trabajadas por cada uno de los talentos contratados, con alguien que usted indique de su empresa y luego se procesa el envío de la factura correspondiente.
                                            <br>
                                            <br>
                                        </p>
                                    </div>
                                    <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                        <img style="height: 15rem; width:12rem; margin-top:4rem;" class="img-fluid foto d-block w-100" src="/images/100black.webp" alt="about" >
                                    </div>
                                    <br>
                                </div> <!-- end of row -->
                            <div class="carousel-caption d-md-block">
                            
                            </div>
                            </div>
                            {{!-- 5to --}}
                            <div class="carousel-item" data-bs-interval="20000">
                                <div class="row d-flex align-items-center">
                                    <div class="col-lg-7" data-aos="fade-right">
                                        <h4 class="py-4">Protocolo de 5 pasos.</h4>
                                        <br>
                                        <p class="py-2">
                                            <strong>5to</strong>
                                            <br>
                                            Una vez que se certifican las horas y tenemos su OK, se envía una factura. La factura se paga 7 días después de su envío.
                                            <br>
                                            Como puedes ver, ¡es rápido, sencillo, sin costes iniciales y sumamente profesional, no les facturamos nada hasta no tener los talentos ya 20 días trabajando en su proyecto y aprobados por usted!
                                            <br>
                                            <br>
                                            <strong>
                                            Como puede observar usted no abona nada hasta más de 30 días después de que empecemos a trabajar en su proyecto.
                                            </strong>
                                        </p>
                                        <br>
                                    </div>
                                    <br>
                                    <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                                        <img style="height:15rem; width:10rem; margin-top:6rem;" class="img-fluid foto d-block w-100" src="/images/webpage.png" alt="about" >
                                    </div>
                                    <br>
                                </div> <!-- end of row -->
                            </div>
                            {{!-- Tecnologias --}}
                            <div class="carousel-item" data-bs-interval="20000">
                                <div style="margin:4rem 0 4rem 0 ;" class="row d-flex align-items-center">
                                    <div class="text-center pb-4">
                                        <h4 class="py-0">Tecnologías mas populares</h4>
                                    </div>
                                    <br>
                                    <div class="col-lg-4 text-center py-2 py-sm-0" data-aos="fade-down"> 
                                        <img class="img-fluid d-block w-100" style=" width:50%; height: 13rem;" src="/images/lp6.jpg" alt="about" >
                                    </div>
                                    <div class="col-lg-4 text-center py-2 py-sm-0" data-aos="fade-down"> 
                                        <img class="img-fluid d-block w-100"  style=" width:50%; height: 13rem;" src="/images/lp5.jpg" alt="about" >
                                    </div>
                                    <div class="col-lg-4 text-center py-2 py-sm-0" data-aos="fade-down"> 
                                        <img class="img-fluid d-block w-100"  style=" width:50%; height: 13rem;" src="/images/lp3.jpg" alt="about" >
                                    </div>
                                </div> <!-- end of row -->
                            </div>
                            <div class="carousel-item" data-bs-interval="20000">
                                <div class="row d-flex align-items-center">
                                        <div class="col-lg-12" data-aos="fade-right">
                                        </div>
                                        <div class="col-lg-12 text-center py-4 py-sm-0" data-aos="fade-down">
                                                <br>
                                                <br>
                                                <br>
                                                <br> 
                                            <h2 class="py-2">Solicita tu cotización y nos pondremos en contacto</h2>
                                        <h2>¡Empecemos a trabajar hoy!</h2>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                        </div>
                                    </div> <!-- end of row -->
                            <div class="carousel-caption d-md-block">
                            
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- botonera --}}
        <div style="margin-top: -1.5rem;">
            <div class="position-relative m-4">
                <ul style="margin-top: -1rem;"  class="action flexlado">
                    <li style="margin-left:-2rem";>
                        <button style="padding: 1rem; height: min-content;" class="alertaVerde" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        Anterior
                        </button>
                    </li>
                    <li style="margin-left: -7rem"; class="position-absolute top-0 start-100">
                        <button style="padding: 1rem; height: min-content;" class="alertaVerde" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        Siguiente
                        </button>
                    </li>
                </ul>
            </div>
            <div style="margin-top:-5rem;" class="d-flex justify-content-center py-2">
                <li style="";>
                    <button style="padding:1rem" class="alertaVerde" type="button">
                        <a href="/cotizandoStaffing"><strong><h4>Cotizar</h4></strong></a>
                    </button>
                </li>
            </div>
        </div>
    </div>
</section>
