
    <!-- Basic -->
 <section class="home2 py-5" id="post">
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                  
						<div class="card text-white text-center" style=" background-color: rgb(38, 36, 36); opacity: 0.9;">
  						<div class="card-header">
  						 <h5>Hola
        Te ayudaremos a recuperar/cambiar tu password</h5>
  						</div>
  						<div class="card-body">
  						  <h4 class="card-title">
						</h4>
  						  <h5 class="card-text">Codigo:</h5>

  						<form action="/cambiar/password" method="post">
								<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Ingresa el email con el que te inscribiste</label>
  <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
 <label for="exampleFormControlInput1" class="form-label">Ingresa tu numero de celular/móvil con el que te inscribiste</label>
  <input name="numCel" type="text" class="form-control" id="exampleFormControlInput1" placeholder="55458664">
</div>
                <h5><strong>Muchas Gracias!</strong></h5>
                
                <button style="width:40%; height: 5rem ;font-size: 2rem;color: white;" type="submit" class="alertaVerde" >
                    Enviar
                </button>
        </form>
            <form action="/" method="GET">
                <button type="submit" class="alerta" data-toggle="modal" data-target="#spinner">
                    Volver
                </button>
            </form>
  						</div>
						</div>
					
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->
</section>
