<div align="center" style="z-index: 9999999999999999999999; padding-bottom: -20%; margin: 0 0 1% 25%; width:50%; height: auto; position: relative;" class="fondoNegro">
    <div class="">
        <input style="padding: auto; background-color: black;" class="" id="" type="image" src="images/TBS-ITLogo4.jpg" >
    </div>
    <div class="">
        <br>
        <h2>Hola
            <br>
            <br> 
        Te ayudaremos a recuperar/cambiar tu password</h2>
        <br>
        <form action="/cambiar/password" method="post">
                <h4>Ingresa el email con el que te inscribiste</h3>
                <input style="width:80%; height: auto; color: white; background-color: skyblue; font-size: 2rem;" class="" name="email" type="email" required/>
                <br>
                <h4>
                    <br>Ingresa tu numero de celular/móvil con el que te inscribiste
                </h3>
                <input style="width:80%; height: auto;font-size: 2rem;color: white; background-color: skyblue;" name="numCel" type="number" required/>
                <br>
                <br>
                <h1><strong>Muchas Gracias!</strong>
                <br>
                <button style="width:80%; height: 5rem ;font-size: 2rem;color: white;" type="submit" class="alertaVerde" >
                    Enviar
                </button>
        </form>
            <form action="/" method="GET">
                <button type="submit" class="alerta" data-toggle="modal" data-target="#spinner">
                    Volver
                </button>
            </form>
    </div>
</div>



