

    <!-- Basic -->
 <section class="opciones py-5" id="post">
    <div class="ex-basic-1 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                  
						<div class="card text-white text-center" style="color: aliceblue; background-color: black;">
  						<div class="card-header">
  							<h5> ¿Que vamos a hacer hoy?</h5>
  						</div>
  						<div class="card-body">
  						 <form action="/editarDatosPersonales" method="POST">
                    <input type="text" value="{{dataUser._id}}" name="id" hidden>
                    <button type="submit" class="btn-block btn" data-toggle="modal" data-target="#spinner2"><h3>Mis Datos</h3></button>
                </form>
                <form action="/configuracionTBS" method="GET">
                    <button type="submit" class="btn-block btn" data-toggle="modal" data-target="#spinner2"><h3>Configuracion</h3></button>
                </form>
                <form action="/nosotros" method="GET">
                    <button type="submit" class="btn-block btn" data-toggle="modal" data-target="#spinner2"><h3>Certificasciones</h4></button>
                </form>
                <form action="/instrucciones" method="GET">
                    <button type="submit" class="btn-block btn" data-toggle="modal" data-target="#spinner2"><h3>Cotizaciones</h3></button>
                </form>
                <form action="/mensajesDelSistema" method="GET">
                    <button type="submit" class="btn-block btn" data-toggle="modal" data-target="#spinner2"><h3>Mensajes/consultas</h3></button>
                </form>
                <form action="/" method="GET">
                    <button type="submit" class="btn-block btn" data-toggle="modal" data-target="#spinner2"><h3>Salir</h3></button>
                </form>   
					
				
						</div>
					
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->
</section>

<script>
var triggerTabList = [].slice.call(document.querySelectorAll('#myTab a'))
triggerTabList.forEach(function (triggerEl) {
var tabTrigger = new bootstrap.Tab(triggerEl)

triggerEl.addEventListener('click', function (event) {
    event.preventDefault()
    tabTrigger.show()
})
})
</script>
</div>
</section>