<section class="home2 py-5" id="post">
    <div class="ex-basic-1 pt-5 pb-5">
        <div class="container">
            <div align="center" style="margin-top:-2rem" class="row carpetaNegra">
                <div class="col-xl-10 offset-xl-1">
                    <div class="">
                        <div class="card-header">
                            <h2>Bienvenid@ & Gracias</h2>
                        </div>
                        <div class="card-body">
                            <br>
                            <h4 class="card-title">
                                Gracias por inscribirte.
                                <br>
                                <br>
                                Nos pondremos en contacto con vos para continuar con tu proceso.
                                <br> <br> 
                                <br>
                                <span></span>¡Bienvenid@!
                                <br>
                                <br>
                                <br>
                                <br>
                            </h4>
                                <br>
                                <br>
                            <form  action="/" method="get">
                                <div style="margin: -6rem 0 2.5rem 0;">
                                {{!-- ocultos solo para traspaso y gurdar --}}
                                <button  type="submit" class="alertaVerde" >Volver</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
</section>

