<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar bg-danger"  aria-label="Main navigation"  >
    <div style="" class="menuAncho container-xxl">
        <a class="navbar-brand" href="/"> <strong> TBS Inscripción Partner´s</strong></a>
        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
        </button>
        <a class="btn btn-danger" type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="bi bi-list" style="font-size: 1.5em;"></i></a>
        <div class="offcanvas offcanvas-end" style="background-color:rgb(224, 55, 55) ;" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ">
                <ul class="links">
                    <li class="">
                        <a class="" aria-current="page" href="/">Home</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">Cotizar</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/Staffing">Staffing</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/SoftDev">Software Factory</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/Nosotros">Nosotros</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/#paises">Paises donde tenemos precensia</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1">Unete a nosotros / se un Partner </a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="#footer">Contact</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="navbar-brand" href="#">
                            <img src="/images/TBS-IT1.jpg" alt="" data-bs-toggle="modal" data-bs-target="#signin1"  width="210" height="180">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- end of container -->
</nav> <!-- end of navbar -->
    <!-- end of navigation -->
    <!-- modal de cotizacion -->


<section style="" class="partnets py-5 d-flex align-items-center">
        <div style="margin-top:0rem; min-height:35rem ;" class="container text-light" >
            <div class="carpetaNegra">
                <div class="row d-flex align-items-center" style=" background-color: rgba(20, 20, 20, 0.596); opacity: 0.9;">
                    <div class="col-lg-12" data-aos="fade-right">
                        <div class="text-center pb-4">
                            <h2 class="py-2">Bienvenid@s estimado partner</h2>
                        </div>
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner" >
                                <form action="/dataPartner" method="post" enctype="multipart/form-data">
                                    <div class="carousel-item active" data-bs-interval="20000">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-lg-12 text-center py-4 py-sm-0" data-aos="fade-down">
                                            <h5 class="py-2">Te estamos buscando.</h5>
                                            <h5>Es importante para nosotros que te sumes a nuestro staff de partners internacionales 
                                                conformando nuestra exclusiva red SGNS, (Staffing Global NET Solution).</h5>
                                            </div>
                                            <div class="col-lg-12 py-3 text-start" data-aos="fade-down">
                                                <p class="py-2">
                                                    En TBS estamos buscando principalmente dos tipos de partners para potenciar nuestra excelencia.
                                                    <br>
                                                    <br>
                                                    <strong>Partner comerciales:</strong>
                                                    <br>
                                                    Empresas freelancer´s & todo aquel que comercialicen soluciones IT.
                                                    <br>
                                                    <br>
                                                    <strong>Partner Staffing:</strong>
                                                    <br>
                                                    Empresas de RRHH, Headhunters, frellancer´s & todo aquel que se dediquen o poseen datos de talentos IT.
                                                    <br>
                                                </p>
                                                <br>
                                            </div>
                                        </div> <!-- end of row -->
                                    </div>
                                    <div class="carousel-item" data-bs-interval="20000">
                                        <div class="row d-flex align-items-center">
                                                    <div class="col-lg-12 text-start" data-aos="fade-down">
                                                        <ul style="line-height:2.8rem ;" class="py-2">
                                                            <li align="center">
                                                                <h4><strong> OFRECEMOS:</strong></h4>
                                                            </li>
                                                            <br>
                                                            <li>
                                                                * Carrera de crecimiento interno.
                                                            </li>
                                                            <li>
                                                                * Capacitaciones comerciales.
                                                            </li>
                                                            <li>
                                                                * Apoyos, comercial, técnico, consultorias, talleres y más sin cargo.
                                                            </li>
                                                            <li>
                                                                * Comisiones en pesos y dólares que van del 5% hasta el 15% y mucho mas en negocios especiales.
                                                            </li>
                                                            <li>
                                                                * Estabilidad en comisiones, cobras siempre que tu cliente continue con TBS.
                                                            </li>
                                                            <li>
                                                                * Importantes descuentos en UDEMI.
                                                            </li>
                                                        </ul>
                                                    </div>
                                        </div> <!-- end of row -->
                                    <div class="carousel-caption d-md-block">
                                    
                                    </div>
                                    </div>
                                    <div class="carousel-item" data-bs-interval="20000">
                                        <div class="container-fluid text-light">
                                            <div class="row">
                                                <div class="col-lg-12 d-flex justify-content-center justify-content-lg-center align-items-center px-lg-5" data-aos="fade-down">
                                                    <div style="width:90%">
                                                        <div class="text-center text-lg-center py-4 pt-lg-0">
                                                            <h5 class="py-2">Para comenzar necesitamos unos breves datos.</h5>
                                                            <h5 class="py-2">Recibirás un email para validar tu cuenta</h5>
                                                        </div>
                                                        <div>
                                                            <div class="row" >
                                                                <div class="col-lg-6">
                                                                    <div class="form-group py-2 input-group-lg">
                                                                        <input name="Nombre" type="text" class="form-control form-control-input" id="exampleFormControlInput1" placeholder="Nombre">
                                                                    </div>                                
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group py-2 input-group-lg">
                                                                        <input name="Apellido" type="text" class="form-control form-control-input" id="exampleFormControlInput1" placeholder="Apellido">
                                                                    </div>                                
                                                                </div>
                                                            </div>
                                                            <div class="row" >
                                                                <div class="col-lg-6">
                                                                    <div class="form-group py-2 input-group-lg">
                                                                        <input name="NumCel" type="text" class="form-control form-control-input" id="exampleFormControlInput1" placeholder="Numero Cel. Ejemplo +54 11 8888">
                                                                    </div>                                
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group py-2 input-group-lg">
                                                                        <input name="Email" type="email" class="form-control form-control-input" id="exampleFormControlInput2" placeholder="Sera validado">
                                                                    </div>                                 
                                                                </div>
                                                            </div>                          
                                                        </div>
                                                    </div> <!-- end of div -->
                                                </div> <!-- end of col -->
                                            </div> <!-- end of row -->
                                        </div> <!-- end of container -->
                                        <br><br>
                                    </div>
                                    <div class="carousel-item" data-bs-interval="20000">
                                        <div class="container-fluid text-light">
                                            <div class="row">
                                                <div class="col-lg-12 d-flex justify-content-center justify-content-lg-center align-items-center px-lg-5" data-aos="fade-down">
                                                    <div style="width:90%">
                                                        <div class="text-center text-lg-center py-4 pt-lg-0">
                                                            <h5 class="py-2">Para comenzar necesitamos unos breves datos.</h5>
                                                            <h5 class="py-2">Recibirás un email para validar tu cuenta</h5>
                                                        </div>
                                                        <div>
                                                            <div class="row" >
                                                                <div class="col-lg-6">
                                                                    <div class="form-group py-2 input-group-lg">
                                                                    <input autocomplete="off" type="text" class="form-control form-control-lg" list="pais11" id="Pa44is22" name="PaisResi" placeholder="Pais de residencia">
                                                                    <datalist id="pais11">
                                                                            <select name="" >
                                                                                <option value="Argentina">Argentina</option>
                                                                                <option value="Brasil">Brasil</option>
                                                                                <option value="Belice">Belice</option>
                                                                                <option value="Bolivia">Bolivia</option>
                                                                                <option value="Chile">Chile</option>
                                                                                <option value="Costa Rica">Costa Rica</option>
                                                                                <option value="Colombia">Colombia</option>
                                                                                <option value="Ecuador">Ecuador</option>
                                                                                <option value="España">España</option>
                                                                                <option value="Guatemala">Guatemala</option>
                                                                                <option value="Honduras">Honduras</option>
                                                                                <option value="Nicaragua">Nicaragua</option>
                                                                                <option value="Panama">Panama</option>
                                                                                <option value="Paraguay">Paraguay</option>
                                                                                <option value="Peru">Peru</option>
                                                                                <option value="Salvador">Salvador</option>
                                                                                <option value="Venezuela">Venezuela</option>
                                                                                <option value="Uruguay">Uruguay</option>
                                                                                <option value="USA">USA</option>
                                                                                <option value="Otro">Otro</option>
                                                                            </select>
                                                                        </datalist>  
                                                                    </div>                         
                                                                </div>                              
                                                                <div class="col-lg-6">
                                                                    <div class="form-group py-2 input-group-lg">
                                                                    <input name="CiudadResi" type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Ciudad">
                                                                    </div>                         
                                                                </div>
                                                            </div>
                                                            <div class="row" >
                                                                <div class="col-lg-6">
                                                                    <div class="form-group py-2 input-group-lg">
                                                                    <input type="text" class="form-control form-control-lg" list="pais155"  id="Pais4422" name="tipoPartner" placeholder="Elija el tipo de partner">
                                                                <datalist id="pais155">
                                                                    <select name="" >
                                                                        <option value="Head Hunter">Head Hunter</option>
                                                                        <option value="Empresa RRHH IT">Empresa RRHH IT</option>
                                                                        <option value="Consultor IT">Consultor IT</option>
                                                                        <option value="Comercial IT">Comercial IT</option>
                                                                        <option value="Otro">Otro</option>
                                                                    </select>
                                                                    </datalist>
                                                                    </div>                                
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group py-2 input-group-lg">
                                                                    <input type="text" class="form-control form-control-lg" list="5pais1"  id="5Pais22" name="nivelIngles" placeholder="Nivel de habla Ingles">
                                                                    <datalist id="5pais1">
                                                                        <select name="" >
                                                                            <option value="No hablo Ingles">No hablo Ingles</option>
                                                                            <option value="Regular">Regular</option>
                                                                            <option value="Medio">Medio</option>
                                                                            <option value="Bueno">Bueno</option>
                                                                            <option value="Excelente">Excelente</option>
                                                                        </select>
                                                                    </datalist>
                                                                    </div>                                 
                                                                </div>
                                                            </div>                          
                                                        </div>
                                                    </div> <!-- end of div -->
                                                </div> <!-- end of col -->
                                            </div> <!-- end of row -->
                                        </div> <!-- end of container -->
                                        <br><br>
                                    <div class="carousel-caption d-md-block">
                                        
                                    </div>
                                    </div>
                                    <div class="carousel-item" data-bs-interval="20000">
                                        <div class="container-fluid text-light">
                                            <br>
                                            <div class="row">
                                                <div class="col-lg-12 d-flex justify-content-center justify-content-lg-center align-items-center px-lg-5" data-aos="fade-down">
                                                    <div style="width:90%">
                                                        <div class="text-center text-lg-center py-4 pt-lg-0">
                                                            <h5 class="py-2">Completa esta información</h5>
                                                        </div>
                                                        <div>
                                                            <div class="row" >
                                                                <div class="col-lg-6">
                                                                    <div class="form-group py-2 input-group-lg">
                                                                        <input name="Empresa" type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Empresa">
                                                                    </div>                                
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group py-2 input-group-lg">
                                                                <input type="text" class="form-control form-control-lg" list="pais1"   id="Pais22"name="Moneda" placeholder="Quiero cobrar en">
                                                                    <datalist id="pais1">
                                                                        <select name="" >
                                                                        <option value="Dolares">Dolares</option>
                                                                        <option value="Pesos Local">Pesos Local</option>
                                                                        <option value="Cualquiera de las dos">Cualquiera de las dos</option>                                                        
                                                                        </select>
                                                                    </datalist>
                                                                    </div>                                
                                                                </div>
                                                            </div>
                                                            <div class="row" >
                                                                <div class="col-lg-6">
                                                                    <div class="form-group py-2 input-group-lg">
                                                                    <input type="text" class="form-control form-control-lg" list="78pais1"  id="78Pais22" name="ModTrab" placeholder="Forma de trabajo de sus recursos">
                                                                    <datalist id="78pais1">
                                                                    <select name="" >
                                                                        <option value="Unicamente Online">Unicamente Online</option>
                                                                        <option value="Unicamente Onsite">Unicamente Onsite</option>
                                                                        <option value="Indistinto / Mix">Indistinto / Mix</option>                                                        
                                                                    </select>
                                                                    </datalist>
                                                                    </div>                                
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group py-2 input-group-lg">
                                                                        <input name="linke" type="text" class="form-control form-control-lg" id="exampleFormControlInput2" placeholder="Link de Linkedin o pagina web">
                                                                    </div>                                 
                                                                </div>
                                                            </div>                          
                                                        </div>
                                                    </div> <!-- end of div -->
                                                </div> <!-- end of col -->
                                            </div> <!-- end of row -->
                                        </div> <!-- end of container -->
                                        <br><br><br>
                                    </div>
                                    <div class="carousel-item" data-bs-interval="20000">
                                        <div class="container-fluid text-light">
                                            <div class="row">
                                                <div class="col-lg-12 d-flex justify-content-center justify-content-lg-center align-items-center px-lg-5" data-aos="fade-down">
                                                    <div style="width:90%">
                                                        <div class="text-center text-lg-center py-4 pt-lg-0">
                                                            <h6 class="py-2">Elija una de las siguientes tecnologías con las que usted puede colaborar..</h6>
                                                        </div>
                                                        <div>
                                                            <div class="row" >
                                                                <div class="col-lg-6">
                                                                    <div class="form-group py-2 input-group-lg">
                                                                    <input name="tecnoBackend" autocomplete="off" type="text" class="form-control form-control-lg" list="tec12" id="Pais22" name="floatingInput123" placeholder="Tecnologias Backend">
                                                                        <datalist id="tec12">
                                                                            <select name="">
                                                                                <optgroup label="Backend">
                                                                                    <option value="Full Stack LAMP">Full Stack LAMP</option>
                                                                                    <option value="Full Stack MERN / MEAN">Full Stack MERN / MEAN</option>
                                                                                    <option value="Full Stack Grl.">Full Stack Grl.</option>
                                                                                    <option value='JAVA'>JAVA</option>
                                                                                    <option value="JS">JS</option>
                                                                                    <option value="NODE">NODE</option>
                                                                                    <option value="Django">Django</option>
                                                                                    <option value="Python">Python</option>
                                                                                    <option value="GO">GO</option>
                                                                                    <option value="PHP">PHP</option>
                                                                                    <option value="C#">C#</option>
                                                                                    <option value="C++">C++</option>
                                                                                    <option value=".Net">.Net/ Net core</option>
                                                                                    <option value="Kotlin">Kotlin</option>
                                                                                    <option value="Pearl">Pearl</option>
                                                                                    <option value="Apache">Apache</option>
                                                                                    <option value="Ruby">Ruby / Rubi on rails</option>
                                                                                    <option value="Cobol">Cobol</option>
                                                                                    <option value="QA Manual">QA Manual</option>
                                                                                    <option value="QA Automation">QA Automation</option>
                                                                                </optgroup>
                                                                                    <label><strong>Mobile</strong></p>
                                                                                    <option value="IOS / Swift">IOS / Swift</option>
                                                                                    <option value="Android">Android</option>
                                                                                    <p><strong>Full´s Stack´s</strong></p>
                                                                                    <option value="MERN">MERN</option>
                                                                                    <option value="MEAN">MEAN</option>
                                                                                    <option value="LAMP">LAMP</option>
                                                                                    <p><strong>O.S.</strong></p>
                                                                                    <option value="Linux">Linux</option>
                                                                                    <option value="Windows / Win Mobile">Windows / Win Mobile</option>
                                                                                    <option value="Android">Android</option>
                                                                                    <option value="IOS">IOS</option>
                                                                                </select>
                                                                            </datalist>
                                                                        </div>                                
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group py-2 input-group-lg">
                                                                        <input name="tecnoFrontend" autocomplete="off" type="text" class="form-control form-control-lg" list="tec1222" id="fron" name="tecnoFrontend" placeholder="Tecnologias Frontend">
                                                                            <datalist id="tec1222">
                                                                        <select name="">
                                                                            <p><strong>Frontend</strong></p>
                                                                            <option value="React">React</option>
                                                                            <option value="Maquetador HTML CSS">Maquetador HTML CSS</option>
                                                                            <option value="React Native">React Native</option>
                                                                            <option value="Angular">Angular</option>
                                                                            <option value="HTML">HTML</option>
                                                                            <option value="CSS + (Boostrap)">CSS + (Boostrap)</option>
                                                                            <option value="VUE">VUE</option>
                                                                            <option value="Type Script">Type Script</option>
                                                                            <option value="JQuery">JQuery</option>
                                                                            <option value="Flutter">Flutter</option>
                                                                            <label><strong>Mobile</strong></p>
                                                                            <option value="IOS / Swift">IOS / Swift</option>
                                                                            <option value="Android">Android</option>
                                                                            <p><strong>Full´s Stack´s</strong></p>
                                                                            <option value="MERN">MERN</option>
                                                                            <option value="MEAN">MEAN</option>
                                                                            <option value="LAMP">LAMP</option>
                                                                            <option value="Android">Android</option>
                                                                            <option value="IOS">IOS</option>
                                                                        </select>
                                                                            </datalist>
                                                                    </div>                                
                                                                </div>
                                                            </div>
                                                            <div class="form-group py-2 input-group-lg">
                                                                <textarea class="form-control form-control-input" placeholder="¿Que tienes para aportar?" style="background-color: gray ;" name="ObsProg" rows="6" ></textarea>
                                                            </div>
                                                        </div>
                                                    </div> <!-- end of div -->
                                                </div> <!-- end of col -->
                                            </div> <!-- end of row -->
                                        </div> <!-- end of container -->
                                    </div>
                                    <div class="carousel-item" data-bs-interval="20000">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center justify-content-lg-center align-items-center px-lg-5" data-aos="fade-down">
                                                <div style="width:90%">
                                                    <div class="text-center text-lg-center py-4 pt-lg-0">
                                                        <h5 class="py-2">Por ultimo sube tu CV en formato .word o .pdf</h5>
                                                    </div>
                                                    <div style="margin-top:-1rem">
                                                        <div class="row" >
                                                            <div class="col-lg-12">
                                                                <div class="form-group py-2">
                                                                    <input class="form-control" type="file" name="Archivo" required>
                                                                </div>                                
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row" >
                                                            <div class="col-lg-12 text-center py-4 py-sm-0" data-aos="fade-down">
                                                                <h5>Gracias por tu tiempo.</h5>
                                                                <br>
                                                                <h6>Recuerda que recibirás un email para validar tu cuenta y sumarte a TBS.</h6>
                                                                <h6>Si por alguna razón no envía los datos, revisa bien todos los datos y si estas seguro de que están completos presiona enviar</h6>
                                                                <br>
                                                                <div style="margin-bottom:1rem ;" class="d-grid gap-2 col-2 mx-auto">
                                                                    <button type="submit"  class="alertaVerde"  >Enviar</button>
                                                                </div>
                                                            </div>
                                                        </div>                          
                                                    </div>
                                                </div> <!-- end of div -->
                                            </div> <!-- end of col -->
                                        </div> <!-- end of row -->
                                    </div> <!-- end of item -->
                                </form>
                            <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="position-relative m-4">
                <ul style="margin-top: -1rem;"  class="action flexlado">
                <li style="margin-right: 5rem";>
                <button style="padding: 1rem; height: min-content;" class="alertaVerde" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                Anterior
                </button>
                </li>
                <li style="margin-left: -7rem"; class="position-absolute top-0 start-100">
                <button style="padding: 1rem; height: min-content;" class="alertaVerde" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                Siguiente
                </button>
                </li>
                </ul>
            </div>
        </div>
</section>