<section class="develops py-5 d-flex align-items-center">
    <div class="container text-light" >
        <div class="container">
            <div class="carpetaNegra row d-flex align-items-center" style="margin-top:-6rem;">
                <div class="col-lg-12" data-aos="fade-right">
                    <div class="text-center pb-4">
                        <h2 style="margin-bottom:-1rem" class="py-2">Bienvenid@s</h2>
                    </div>
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <form action="/dataTalento" method="post" enctype="multipart/form-data">
                                <div class="carousel-item active" data-bs-interval="20000">
                                    <div class="row d-flex align-items-center">
                                        <div style="margin-top:-0.51rem;" class="col-lg-12 text-center py-4 py-sm-0" data-aos="fade-down">
                                            <h5 class="py-2">Te estamos buscando.</h5>
                                            <h5>En TBS estamos buscando personas con tu talento.</h5>
                                        </div>
                                        <br>
                                        <div class="col-lg-12 text-start" data-aos="fade-down">
                                            <h5><span style="margin 1rem 0 1rem 4rem ;"></span><strong>OFRECEMOS:</strong></h5>
                                            <h5>* Carrera de crecimiento interno.</h5>
                                            <h5>* Estabilidad laboral.</h5>
                                            <h5>* PC y materiales.</h5>
                                            <h5>* Increíbles proyectos con clientes de primer nivel.</h5>
                                            <h5>* Freelance / o RRDD con Obra social y beneficios.</h5>
                                            <h5>* Gimnasio & Internet.</h5>
                                            <h5>* Importantes descuentos y cursos gratis en UDEMI.</h5>
                                            <br>
                                            <h5 class="text-center">y mucho mucho mas!</h5>
                                        </div>
                                    </div> <!-- end of row -->
                                <div class="carousel-caption d-md-block">
                            </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="20000">
                                    <br>    
                                    <div class="container-fluid text-light">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center justify-content-lg-center align-items-center px-lg-5" data-aos="fade-down">
                                                <div style="width:90%">
                                                    <div class="text-center text-lg-center py-4 pt-lg-0">
                                                        <h5 class="py-2">Para comenzar necesitamos unos breves datos.</h5>
                                                        <h5 class="py-2">Recibirás un email para validar tu cuenta</h5>
                                                    </div>
                                                    <div>
                                                        <div class="row" >
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2 input-group-lg">
                                                                    <input name="Nombre" type="text" class="form-control form-control-input" id="exampleFormControlInput1" placeholder="Nombre">
                                                                </div>                                
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2 input-group-lg">
                                                                    <input name="Apellido" type="text" class="form-control form-control-input" id="exampleFormControlInput1" placeholder="Apellido">
                                                                </div>                                
                                                            </div>
                                                        </div>
                                                        <div class="row" >
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2 input-group-lg">
                                                                    <input name="NumCel" type="text" class="form-control form-control-input" id="exampleFormControlInput1" placeholder="Numero Cel. Ejemplo +54 11 8888">
                                                                </div>                                
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2 input-group-lg">
                                                                    <input name="Email" type="email" class="form-control form-control-input" id="exampleFormControlInput2" placeholder="Sera validado">
                                                                </div>                                 
                                                            </div>
                                                        </div>                          
                                                    </div>
                                                </div> <!-- end of div -->
                                            </div> <!-- end of col -->
                                        </div> <!-- end of row -->
                                    </div> <!-- end of container -->
                                    <br><br>
                                </div>
                                <div class="carousel-item" data-bs-interval="20000">
                                    <div class="container-fluid text-light">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center justify-content-lg-center align-items-center px-lg-5" data-aos="fade-down">
                                                <div style="width:90%">
                                                    <div class="text-center text-lg-center py-4 pt-lg-0">
                                                        <h5 class="py-2">Para comenzar necesitamos unos breves datos.</h5>
                                                        <h5 class="py-2">Recibirás un email para validar tu cuenta</h5>
                                                    </div>
                                                    <div>
                                                        <div class="row" >
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2">
                                                                <input type="text" class="form-control form-control-lg" list="pais11" id="Pa44is22" name="PaisResi" placeholder="Pais de residencia">
                                                                <datalist id="pais11">
                                                                        <select name="" >
                                                                            <option value="Argentina">Argentina</option>
                                                                            <option value="Brasil">Brasil</option>
                                                                            <option value="Belice">Belice</option>
                                                                            <option value="Bolivia">Bolivia</option>
                                                                            <option value="Chile">Chile</option>
                                                                            <option value="Costa Rica">Costa Rica</option>
                                                                            <option value="Colombia">Colombia</option>
                                                                            <option value="Ecuador">Ecuador</option>
                                                                            <option value="España">España</option>
                                                                            <option value="Guatemala">Guatemala</option>
                                                                            <option value="Honduras">Honduras</option>
                                                                            <option value="Nicaragua">Nicaragua</option>
                                                                            <option value="Panama">Panama</option>
                                                                            <option value="Paraguay">Paraguay</option>
                                                                            <option value="Peru">Peru</option>
                                                                            <option value="Salvador">Salvador</option>
                                                                            <option value="Venezuela">Venezuela</option>
                                                                            <option value="Uruguay">Uruguay</option>
                                                                            <option value="USA">USA</option>
                                                                            <option value="Otro">Otro</option>
                                                                        </select>
                                                                    </datalist>  
                                                                </div>                         
                                                            </div>                              
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2">
                                                                <input name="CiudadResi" type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Ciudad">
                                                                </div>                         
                                                            </div>
                                                        </div>
                                                        <div class="row" >
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2">
                                                                <input autocomplete="off" type="text" class="form-control form-control-lg" list="pais155"  id="Pais4422" name="senority" placeholder="Elija su Señority">
                                                                <datalist id="pais155">
                                                                    <select name="" >
                                                                        <option value="Tech Leader">Tech Leader</option>
                                                                        <option value="Senior">Senior</option>
                                                                        <option value="Semi Senior">Semi Senior</option>
                                                                        <option value="Junior Advance">Junior Advance</option>
                                                                        <option value="Junior">Junior</option>
                                                                    </select>
                                                                </datalist>
                                                                </div>                                
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2">
                                                                <input autocomplete="off" type="text" class="form-control form-control-lg" list="5pais1"  id="5Pais22" name="nivelIngles" placeholder="Nivel de habla Ingles">
                                                                <datalist id="5pais1">
                                                                    <select name="" >
                                                                        <option value="No hablo Ingles">No hablo Ingles</option>
                                                                        <option value="Regular">Regular</option>
                                                                        <option value="Medio">Medio</option>
                                                                        <option value="Bueno">Bueno</option>
                                                                        <option value="Excelente">Excelente</option>
                                                                    </select>
                                                                </datalist>
                                                                </div>                                 
                                                            </div>
                                                        </div>                          
                                                    </div>
                                                </div> <!-- end of div -->
                                            </div> <!-- end of col -->
                                        </div> <!-- end of row -->
                                    </div> <!-- end of container -->
                                    <br><br>
                                <div class="carousel-caption d-md-block">
                                    
                                </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="20000">
                                    <div class="container-fluid text-light">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center justify-content-lg-center align-items-center px-lg-5" data-aos="fade-down">
                                                <div style="width:90%">
                                                    <div class="text-center text-lg-center py-4 pt-lg-0">
                                                        <h5 class="py-2">Para comenzar necesitamos unos breves datos.</h5>
                                                        <h5 class="py-2">Recibirás un email para validar tu cuenta</h5>
                                                    </div>
                                                    <div>
                                                        <div class="row" >
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2">
                                                                    <input name="Empresa" type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Empresa">
                                                                </div>                                
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2">
                                                                <input type="text" class="form-control form-control-lg" list="pais1" id="Pais22"name="MonedaCobro" placeholder="Quiero cobrar en">
                                                                <datalist id="pais1">
                                                                    <select name="" >
                                                                    <option value="Dolares">Dolares</option>
                                                                    <option value="Pesos Local">Pesos Local</option>
                                                                    <option value="Cualquiera de las dos">Cualquiera de las dos</option>                                                        
                                                                    </select>
                                                                </datalist>
                                                                </div>                                
                                                            </div>
                                                        </div>
                                                        <div class="row" >
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2">
                                                                <input type="text" class="form-control form-control-lg" list="78pais1"  id="78Pais22" name="ModTrab" placeholder="Forma de trabajo">
                                                                <datalist id="78pais1">
                                                                <select name="" >
                                                                    <option value="Unicamente Online">Unicamente Online</option>
                                                                    <option value="Unicamente Onsite">Unicamente Onsite</option>
                                                                    <option value="Indistinto / Mix">Indistinto / Mix</option>                                                        
                                                                </select>
                                                                </datalist>
                                                                </div>                                
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2">
                                                                    <input name="linke" type="text" class="form-control form-control-lg" id="exampleFormControlInput2" placeholder="Link de Linkedin o pagina web">
                                                                </div>                                 
                                                            </div>
                                                        </div>                          
                                                    </div>
                                                </div> <!-- end of div -->
                                            </div> <!-- end of col -->
                                        </div> <!-- end of row -->
                                    </div> <!-- end of container -->
                                    <br><br>
                                <div class="carousel-caption d-md-block">
                                
                                </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="20000">
                                    <div class="container-fluid text-light">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center justify-content-lg-center align-items-center px-lg-5" data-aos="fade-down">
                                                <div style="width:90%">
                                                    <div style="margin-top:-1rem;" class="text-center text-lg-center py-4 pt-lg-0">
                                                        <h4 class="py-2">Completa esta información</h4>
                                                        <h5 class="py-2">Para comenzar necesitamos unos breves datos.</h5>
                                                        <h5 class="py-2">Recibirás un email para validar tu cuenta</h5>
                                                    </div>
                                                    <div style="margin-top:-1rem;">
                                                        <div class="row" >
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2 form-floating">
                                                                    <input autocomplete="off" style="border-radius: 1.5rem;background-color: black; color: aliceblue;" list="tec12" type="text" class="form-control" id="floatingInput123" placeholder=" " name="tecnoBackend" >
                                                                    <label for="floatingInput123">Tecnologías Backend</label>
                                                                    <datalist id="tec12">
                                                                        <select name="">
                                                                            <optgroup label="Backend">
                                                                                <option value="Full Stack LAMP">Full Stack LAMP</option>
                                                                                <option value="Full Stack MERN / MEAN">Full Stack MERN / MEAN</option>
                                                                                <option value="Full Stack Grl.">Full Stack Grl.</option>
                                                                                <option value='JAVA'>JAVA</option>
                                                                                <option value="JS">JS</option>
                                                                                <option value="NODE">NODE</option>
                                                                                <option value="Django">Django</option>
                                                                                <option value="Python">Python</option>
                                                                                <option value="GO">GO</option>
                                                                                <option value="PHP">PHP</option>
                                                                                <option value="C#">C#</option>
                                                                                <option value="C++">C++</option>
                                                                                <option value=".Net">.Net/ Net core</option>
                                                                                <option value="Kotlin">Kotlin</option>
                                                                                <option value="Pearl">Pearl</option>
                                                                                <option value="Apache">Apache</option>
                                                                                <option value="Ruby">Ruby / Rubi on rails</option>
                                                                                <option value="Cobol">Cobol</option>
                                                                                <option value="QA Manual">QA Manual</option>
                                                                                <option value="QA Automation">QA Automation</option>
                                                                            </optgroup>
                                                                            <label><strong>Mobile</strong></p>
                                                                            <option value="IOS / Swift">IOS / Swift</option>
                                                                            <option value="Android">Android</option>
                                                                            <p><strong>Full´s Stack´s</strong></p>
                                                                            <option value="MERN">MERN</option>
                                                                            <option value="MEAN">MEAN</option>
                                                                            <option value="LAMP">LAMP</option>
                                                                            <p><strong>O.S.</strong></p>
                                                                            <option value="Linux">Linux</option>
                                                                            <option value="Windows / Win Mobile">Windows / Win Mobile</option>
                                                                            <option value="Android">Android</option>
                                                                            <option value="IOS">IOS</option>
                                                                        </select>
                                                                    </datalist>
                                                                </div>                                
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group py-2 form-floating">
                                                                    <input autocomplete="off" style="background-color: black;border-radius: 1.5rem; color: aliceblue;" list="tec1222" type="text" class="form-control" id="fron" placeholder=" " name="tecnoFrontend" >
                                                                    <label for="fron">Tecnologías frontend</label>
                                                                    <datalist id="tec1222">
                                                                        <select name="">
                                                                            <p><strong>Frontend</strong></p>
                                                                            <option value="React">React</option>
                                                                            <option value="Maquetador HTML CSS">Maquetador HTML CSS</option>
                                                                            <option value="React Native">React Native</option>
                                                                            <option value="Angular">Angular</option>
                                                                            <option value="HTML">HTML</option>
                                                                            <option value="CSS + (Boostrap)">CSS + (Boostrap)</option>
                                                                            <option value="VUE">VUE</option>
                                                                            <option value="Type Script">Type Script</option>
                                                                            <option value="JQuery">JQuery</option>
                                                                            <option value="Flutter">Flutter</option>
                                                                            <label><strong>Mobile</strong></p>
                                                                            <option value="IOS / Swift">IOS / Swift</option>
                                                                            <option value="Android">Android</option>
                                                                            <p><strong>Full´s Stack´s</strong></p>
                                                                            <option value="MERN">MERN</option>
                                                                            <option value="MEAN">MEAN</option>
                                                                            <option value="LAMP">LAMP</option>
                                                                            <option value="Android">Android</option>
                                                                            <option value="IOS">IOS</option>
                                                                        </select>
                                                                    </datalist>
                                                                </div>                                
                                                            </div>
                                                        </div>
                                                        <div class="form-group py-2 input-group-lg">
                                                            <textarea class="form-control form-control-input" placeholder="Escribe aqui tus comentarios" style="background-color: gray ;" rows="5" name="ObsProg"></textarea>
                                                        </div>
                                                    </div>
                                                </div> <!-- end of div -->
                                            </div> <!-- end of col -->
                                        </div> <!-- end of row -->
                                    </div> <!-- end of container -->
                                </div>
                                <div align="center" class="carousel-item" data-bs-interval="20000">
                                    <div class="container-fluid text-light">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex justify-content-center justify-content-lg-center align-items-center px-lg-5" data-aos="fade-down">
                                                <div style="width:90%">
                                                    <div class="text-center text-lg-center py-4 pt-lg-0">
                                                    <h5 class="py-2">Por ultimo sube tu CV en formato .word o .pdf</h5>
                                                    </div>
                                                <div>
                                                    <div class="row" >
                                                        <div class="col-lg-12">
                                                            <div class="form-group py-2">
                                                                <input  class="form-control" type="file" name="Archivo" required>
                                                            </div>                                
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row" >
                                                        <div class="col-lg-12 text-center py-4 py-sm-0" data-aos="fade-down">
                                                                <h5>Gracias por tu tiempo.</h5>
                                                                <br>
                                                                <h6>Recuerda que recibirás un email para validar tu cuenta y sumarte a TBS.</h6>
                                                                <h6>Si por alguna razón no envía los datos, revisa bien todos los datos y si estas seguro de que están completos presiona enviar</h6>
                                                                <br>
                                                            <div class="">
                                                                <button style="margin-bottom:-4rem" class="alertaVerde" type="submit">Enviar</button>
                                                            </div>
                                                        </div>
                                                    </div>                          
                                                </div>
                                            </div> <!-- end of div -->
                                        </div> <!-- end of col -->
                                    </div> <!-- end of row -->
                                </div> <!-- end of container -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- botonera --}}
        <div class="position-relative m-4">
            <ul style="margin-top: -1rem;"  class="action flexlado">
            <li style="margin-right: 5rem";>
            <button style="padding: 1rem; height: min-content;" class="alertaVerde" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            Anterior
            </button>
            </li>
            <li style="margin-left: -7rem"; class="position-absolute top-0 start-100">
            <button style="padding: 1rem; height: min-content;" class="alertaVerde" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            Siguiente
            </button>
            </li>
            </ul>
        </div>
    </div>
</section>

