
<div style="margin: auto;" >
    <input type="image" src="images/programadores.png" alt="" style="margin: auto; position: absolute; width: 100%; height: 125%;">
    
    <!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><a href="/">TBS Inscripción programadores.<span></span></a></div>
        <a href="#menu"><span>Menu</span></a>
    </header>
    
    <!-- Nav -->
    <nav style="position:absolute; z-index: 99999999999999; color:white" id="menu">
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li style="cursor: pointer;" ><a data-bs-toggle="modal" data-bs-target="#exampleModal">Cotizar</a></li>				
                <li><a href="/Staffing"><strong>Staffing</strong></a></li>
                <li><a href="/SoftDev"><strong>Software Factory</strong></a></li>
            <div hidden>
            <hr>
            <div class="dropdown" >
                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-target="dropdown" aria-expanded="false">
                    Areas de desarrollo
                </button>
                <ul style="background-color: rgb(248, 98, 11) ;" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="webap.html">Web apps / Mobile / Web Design</a></li>
                    <li><a class="dropdown-item" href="discovery.html">Discovery & Design Thinking</a></li>
                    <li><a class="dropdown-item" href="IOT.html">I.O.T</a></li>
                    <li><a class="dropdown-item" href="blockChain.html">Block Chain</a></li>
                    <li><a class="dropdown-item" href="IA.html">A.I. / I.A. Bots</a></li>
                    <li><a class="dropdown-item" href="BigData.html">Big Data</a></li>
                    <li><a class="dropdown-item" href="gaming.html">Gaming</a></li>
                    <li><a class="dropdown-item" href="QA.html">Q.A. analist & testing</a></li>
                    <li><a class="dropdown-item" href="ciberSec.html">Ciber Security</a></li>
                    <li><a class="dropdown-item" href="serverless.html">Clouding & Serverless</a></li>
                </ul>
            </div>
            <hr>
            <div class="dropdown" >
                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-target="dropdown" aria-expanded="false">
                    Industrias 
                </button>
                <ul style="background-color: rgb(248, 98, 11) ;" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="webap.html">Fintech & Banking</a></li>
                    <li><a class="dropdown-item" href="webap.html">Ingeniería & Mecatronica</a></li>
                    <li><a class="dropdown-item" href="discovery.html">Retails & Distributions</a></li>
                    <li><a class="dropdown-item" href="IOT.html"></a></li>
                    <li><a class="dropdown-item" href="blockChain.html">Block Chain</a></li>
                    <li><a class="dropdown-item" href="IA.html">Healt & Pharma</a></li>
                    <li><a class="dropdown-item" href="BigData.html">B2B</a></li>						
                </ul>
            </div>
            <br>
        </div>
                <li><a href="/Nosotros">Nosotros</a></li>
                <li hidden><a href="elements.html">Valores / Mision</a></li>
                <li><a href="#five">Países donde tenemos precensia</a></li>
                <li style="cursor: pointer;" ><a data-bs-toggle="modal" data-bs-target="#exampleModal1">Únete a Nosotros / Se un Partner</a></li>
                <li hidden><a href="/Partner"></a></li>
                <li><a href="#footer">Contacto</a></li>
                <li hidden ><a href="#footer">Casos de éxitos</a></li hidden>
        </ul>
    </nav>
    
    <div style="margin:-4rem 0 -8rem 0 ;">
        <section  id="post" class="wrapper bg-img" data-bg="">
            <div style="" class="inner">
                <article style="width: 130%; margin:auto; padding:1.5rem;" class="box">
                    <header style="margin-top:0" class="center">
                        <h1>Bienvenid@</h2>
                    </header>
                    <br>
                    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div style="" class="carousel-inner">

                            <form action="/dataTalento" method="post" enctype="multipart/form-data">
                                <div  class="carousel-item active" data-bs-interval="20000">
                                    <div style=" margin-bottom: 5rem"  class="">
                                        <div style="text-align: center; margin:0 0 0 10rem; height: auto; width: 55rem; font-size: 1.5rem;">
                                                <h4>	
                                                    Te estamos buscando.
                                                    <br>
                                                    En TBS estamos buscando personas con tu talento.
                                                </h4>
                                                <br>
                                            <div style="color: aliceblue;margin:0 0 0 0rem; text-align: justify;">
                                                <p>
                                                    Es importante para nosotros que te sumes a nuestro staff de talentos internacionales.
                                                    <br>
                                                    <br>
                                                    <strong> OFRECEMOS:</strong>
                                                    <br>
                                                    * Carrera de crecimiento interno.
                                                    <br>
                                                    * Estabilidad laboral.
                                                    <br>
                                                    * PC y materiales.
                                                    <br>
                                                    * Increíbles proyectos con clientes de primer nivel.
                                                    <br>
                                                    * Freelance / o RRDD con Obra social y beneficios.
                                                    <br>
                                                    * Gimnasio & Internet.
                                                    <br>
                                                    * Importantes descuentos y cursos gratis en UDEMI.
                                                    <br>
                                                </p>
                                                    <p style="text-align: center;margin-bottom: -7rem;" > y mucho mucho mas! </p>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="carousel-item " data-bs-interval="20000">
                                    <div style=" margin-bottom: 5rem"  class="">
                                        <div style="text-align: center; margin:0 0 0 10rem; height: 29.5rem; width: 55rem; font-size: 1.5rem;">
                                                <h4>	
                                                    Para comenzar necesitamos unos breves datos.
                                                    <br>
                                                    <br>
                                                    Recibirás un email para validar tu cuenta
                                                </h1> 
                                                <br>
                                                <br>
                                            <div style="color: aliceblue;margin:0 0 0 0rem;">
                                                <div class="flexlado" >
                                                    <div style="margin: auto;" class="form-floating">
                                                        <input name="Nombre" style="width: 22rem; height: 5rem;color: black; background-color: gray;" type="text" class="form-control" id="floatingInput77" placeholder=" " required>
                                                        <label style="color: black;" for="floatingInput77">Nombre</label>
                                                    </div>
                                                    <div style="margin: auto;" class="form-floating">
                                                        <input name="Apellido" style="color: aliceblue;width: 22rem;height: 5rem; background-color: gray;" type="text" class="form-control" id="floatingInput11" placeholder=" " required>
                                                        <label style="color: black;" for="floatingInput11">Apellido</label>
                                                    </div> 
                                                </div>
                                                <br>
                                                <div class="flexlado" >
                                                    <div style="margin: auto;" class="form-floating">
                                                        <input name="NumCel" style="color: aliceblue; width: 22rem;height: 5rem;background-color: gray;" type="number" class="form-control" id="floatingInput222" placeholder="
                                    Ejemplo +54 11 8888 8888" required>
                                                        <label style="color: black;" for="floatingInput222">Numero Cel.</label>
                                                    </div>
                                                    <div style="margin: auto;" class="form-floating mb-3">
                                                        <input name="Email" style="color: aliceblue;width: 22rem; height: 5rem; background-color: gray;" type="email" class="form-control" id="floatingInput333" placeholder="                Sera validado" required>
                                                        <label style="color: black;" for="floatingInput333">Email</label>
                                                    </div>
                                                </div>
                                                <br>
                                                <p>Completa todos los campos</p>
                                            </div>												
                                        </div>
                                    </div>
                                </div>
                                <div  class="carousel-item" data-bs-interval="20000">
                                    <div style="text-align: center; margin-bottom: 5rem"  class="">
                                        <div style="margin:0 0 0 10rem; height: 29.5rem; width: 55rem; font-size: 1.5rem;">
                                            <br>
                                            <h4>Completa esta información</h3>
                                                <br>
                                                <br>
                                            <div style="color: aliceblue;margin:0 0 0 0rem;">
                                                <div class="flexlado" >
                                                    <div style="margin: auto;" class="form-floating">
                                                        <input autocomplete="off" style="width: 22rem; height: 5rem; background-color: gray;"list="pais11" type="text" class="form-control" id="Pa44is22" placeholder=" " name="PaisResi" required>
                                                        <label style="color: black;" for="Pa44is22">País de residencia</label>
                                                        <datalist id="pais11">
                                                            <select name="" >
                                                                <option value="Argentina">Argentina</option>
                                                                <option value="Brasil">Brasil</option>
                                                                <option value="Belice">Belice</option>
                                                                <option value="Bolivia">Bolivia</option>
                                                                <option value="Chile">Chile</option>
                                                                <option value="Costa Rica">Costa Rica</option>
                                                                <option value="Colombia">Colombia</option>
                                                                <option value="Ecuador">Ecuador</option>
                                                                <option value="España">España</option>
                                                                <option value="Guatemala">Guatemala</option>
                                                                <option value="Honduras">Honduras</option>
                                                                <option value="Nicaragua">Nicaragua</option>
                                                                <option value="Panama">Panama</option>
                                                                <option value="Paraguay">Paraguay</option>
                                                                <option value="Peru">Peru</option>
                                                                <option value="Salvador">Salvador</option>
                                                                <option value="Venezuela">Venezuela</option>
                                                                <option value="Uruguay">Uruguay</option>
                                                                <option value="USA">USA</option>
                                                                <option value="Otro">Otro</option>
                                                            </select>
                                                        </datalist>
                                                    </div>
                                                    <div style="margin: auto;" class="form-floating">
                                                        <input  name="CiudadResi" style="color: aliceblue; width: 22rem;height: 5rem;background-color: gray;" type="text" class="form-control" id="floatingInput7" placeholder=" " required>
                                                        <label style="color: black;" for="floatingInput7">Ciudad</label>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="flexlado" >
                                                    <div style="margin: auto;" class="form-floating">
                                                        <input autocomplete="off" style="width: 22rem; height: 5rem; background-color: gray;"list="pais155" type="text" class="form-control" id="Pais4422" placeholder=" " name="senority" required>
                                                        <label style="color: black;" for="Pais4422">Elija su señority</label>
                                                        <datalist id="pais155">
                                                            <select name="" >
                                                                <option value="Tech Leader">Tech Leader</option>
                                                                <option value="Senior">Senior</option>
                                                                <option value="Semi Senior">Semi Senior</option>
                                                                <option value="Junior Advance">Junior Advance</option>
                                                                <option value="Junior">Junior</option>
                                                            </select>
                                                        </datalist>
                                                    </div>
                                                    <div style="margin: auto;" class="form-floating">
                                                        <input autocomplete="off" style="width: 22rem; height: 5rem; background-color: gray;"list="5pais1" type="text" class="form-control" id="5Pais22" placeholder=" " name="nivelIngles" required>
                                                        <label style="color: black;" for="5Pais22">Nivel de habla Ingles</label>
                                                        <datalist id="5pais1">
                                                            <select name="" >
                                                                <option value="No hablo Ingles">No hablo Ingles</option>
                                                                <option value="Regular">Regular</option>
                                                                <option value="Medio">Medio</option>
                                                                <option value="Bueno">Bueno</option>
                                                                <option value="Excelente">Excelente</option>
                                                            </select>
                                                        </datalist>
                                                    </div>
                                                    <input type="text" name="token" value="{{token}}" hidden>
                                                </div>
                                                <br>
                                                <p>Completa todos los campos</p>
                                            </div>												
                                        </div> 
                                    </div>
                                </div>
                                <div  class="carousel-item" data-bs-interval="20000">
                                    <div style="text-align: center; margin-bottom: 5rem"  class="">
                                        <div style="margin:0 0 0 10rem; height: 29.5rem; width: 55rem; font-size: 1.5rem;">
                                            <br>
                                            <h4>Completa esta información</h3>
                                                <br>
                                                <br>
                                            <div style="color: aliceblue;margin:0 0 0 0rem;">
                                                <div class="flexlado" >
                                                    <div style="margin: auto;" class="form-floating">
                                                        <input name="Empresa" style="width: 22rem; height: 5rem; background-color: gray;" type="text" class="form-control" id="floatingInput55" placeholder=" " required>
                                                        <label style="color: black;" for="floatingInput55">Empresa</label>
                                                    </div>
                                                    <div style="margin: auto;" class="form-floating">
                                                        <input autocomplete="off" style="width: 22rem; height: 5rem; background-color: gray;"list="pais1" type="text" class="form-control" id="Pais22" placeholder=" " name="MonedaCobro" required>
                                                        <label style="color: black;" for="Pais22">Quiero cobrar en:</label>
                                                        <datalist id="pais1">
                                                            <select name="" >
                                                                <option value="Dolares">Dolares</option>
                                                                <option value="Pesos Local">Pesos Local</option>
                                                                <option value="Cualquiera de las dos">Cualquiera de las dos</option>                                                        
                                                            </select>
                                                        </datalist>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="flexlado" >
                                                    <div style="margin: auto;" class="form-floating">
                                                        <input autocomplete="off" style="width: 22rem; height: 5rem; background-color: gray;"list="78pais1" type="text" class="form-control" id="78Pais22" placeholder=" " name="ModTrab" required>
                                                        <label style="color: black;" for="78Pais22">Forma de trabajo</label>
                                                        <datalist id="78pais1">
                                                            <select name="" >
                                                                <option value="Unicamente Online">Unicamente Online</option>
                                                                <option value="Unicamente Onsite">Unicamente Onsite</option>
                                                                <option value="Indistinto / Mix">Indistinto / Mix</option>                                                        
                                                            </select>
                                                        </datalist>
                                                    </div>
                                                    <div style="margin: auto;" class="form-floating mb-3">
                                                        <input name="linke" style="color: aliceblue;width: 22rem; height: 5rem; background-color: gray;" type="text" class="form-control" id="floatingInput8" placeholder=" " required>
                                                        <label style="color: black;" for="floatingInput8">Link de linkedin o pagina web</label>
                                                    </div>
                                                </div>
                                                <br><p>Completa todos los campos</p>
                                            </div>												
                                        </div> 
                                    </div>
                                </div>
                                <div  class="carousel-item" data-bs-interval="20000">
                                    <div style="text-align: center; margin-bottom: 5rem"  class="">
                                        <div style="color: aliceblue ; margin:0 0 0 10rem; height: 29.5rem; width: 55rem; font-size: 1.5rem;">
                                                <h4>Completa esta información</h3>
                                                <br>
                                                <p>
                                                    Elija una de las siguientes tecnologías en la que usted tenga mas experiencia y se sienta mas cómodo.
                                                </p>
                                            <div style="width:100% ;" class="flexlado" >
                                                <div  style="width:100% ;" class="form-floating">
                                                    <input autocomplete="off" style="border-radius: 1.5rem;background-color: black; color: aliceblue;" list="tec12" type="text" class="form-control" id="floatingInput123" placeholder=" " name="tecnoBackend" required>
                                                    <label for="floatingInput123">Tecnologías Backend</label>
                                                    <datalist id="tec12">
                                                        <select name="">
                                                            <optgroup label="Backend">
                                                                <option value="Full Stack LAMP">Full Stack LAMP</option>
                                                                <option value="Full Stack MERN / MEAN">Full Stack MERN / MEAN</option>
                                                                <option value="Full Stack Grl.">Full Stack Grl.</option>
                                                                <option value='JAVA'>JAVA</option>
                                                                <option value="JS">JS</option>
                                                                <option value="NODE">NODE</option>
                                                                <option value="Django">Django</option>
                                                                <option value="Python">Python</option>
                                                                <option value="GO">GO</option>
                                                                <option value="PHP">PHP</option>
                                                                <option value="C#">C#</option>
                                                                <option value="C++">C++</option>
                                                                <option value=".Net">.Net/ Net core</option>
                                                                <option value="Kotlin">Kotlin</option>
                                                                <option value="Pearl">Pearl</option>
                                                                <option value="Apache">Apache</option>
                                                                <option value="Ruby">Ruby / Rubi on rails</option>
                                                                <option value="Cobol">Cobol</option>
                                                                <option value="QA Manual">QA Manual</option>
                                                                <option value="QA Automation">QA Automation</option>
                                                            </optgroup>
                                                            <label><strong>Mobile</strong></p>
                                                            <option value="IOS / Swift">IOS / Swift</option>
                                                            <option value="Android">Android</option>
                                                            <p><strong>Full´s Stack´s</strong></p>
                                                            <option value="MERN">MERN</option>
                                                            <option value="MEAN">MEAN</option>
                                                            <option value="LAMP">LAMP</option>
                                                            <p><strong>O.S.</strong></p>
                                                            <option value="Linux">Linux</option>
                                                            <option value="Windows / Win Mobile">Windows / Win Mobile</option>
                                                            <option value="Android">Android</option>
                                                            <option value="IOS">IOS</option>
                                                        </select>
                                                    </datalist>
                                                </div>
                                                <span></span>
                                                <div  style="width:100% ;" class="form-floating">
                                                    <input autocomplete="off" style="background-color: black;border-radius: 1.5rem; color: aliceblue;" list="tec1222" type="text" class="form-control" id="fron" placeholder=" " name="tecnoFrontend" required>
                                                    <label for="fron">Tecnologías frontend</label>
                                                    <datalist id="tec1222">
                                                        <select name="">
                                                            <p><strong>Frontend</strong></p>
                                                            <option value="React">React</option>
                                                            <option value="Maquetador HTML CSS">Maquetador HTML CSS</option>
                                                            <option value="React Native">React Native</option>
                                                            <option value="Angular">Angular</option>
                                                            <option value="HTML">HTML</option>
                                                            <option value="CSS + (Boostrap)">CSS + (Boostrap)</option>
                                                            <option value="VUE">VUE</option>
                                                            <option value="Type Script">Type Script</option>
                                                            <option value="JQuery">JQuery</option>
                                                            <option value="Flutter">Flutter</option>
                                                            <label><strong>Mobile</strong></p>
                                                            <option value="IOS / Swift">IOS / Swift</option>
                                                            <option value="Android">Android</option>
                                                            <p><strong>Full´s Stack´s</strong></p>
                                                            <option value="MERN">MERN</option>
                                                            <option value="MEAN">MEAN</option>
                                                            <option value="LAMP">LAMP</option>
                                                            <option value="Android">Android</option>
                                                            <option value="IOS">IOS</option>
                                                        </select>
                                                    </datalist>
                                                </div>
                                            </div>
                                            <br>
                                            <div style="margin-bottom: -5rem;">
                                                <textarea placeholder="Escribe aqui tus comentarios" style="background-color: gray ;" name="ObsProg" id="" cols="30" rows="4"></textarea>
                                                <p>Sube tu CV en formato .word o .pdf</p>
                                                <input class="form-control" type="file" name="Archivo" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="carousel-item" data-bs-interval="20000">
                                    <div style=" margin-bottom: 5rem"  class="">
                                        <div style="text-align: center; margin:0 0 0 10rem; height: 29.5rem; width: 55rem; font-size: 1.5rem;">
                                            <br>
                                                <h4>	
                                                    Gracias por tu tiempo.
                                                    <br>
                                                    Recuerda que recibirás un email para validar tu cuenta y sumarte a TBS.
                                                </h4> 
                                                <br>
                                            <div style="color: aliceblue;margin:0 0 0 0rem;">
                                                <p>
                                                    Si por alguna razón no envía los datos, revisa bien todos los datos y si estas seguro de que están completos presiona enviar
                                                </p>
                                                <br>
                                                <br>
                                                <button style="font-size: 3rem ; padding: 4rem; height: min-content;" class="alertaVerde label" type="submit" >Enviar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </article>
                <footer style="" class="fijoAbajo">
                    <div style="position: relative;" class="fijoAbajo flexlado" >
                        <div style="max-height: 0.1rem;"      class="carousel-indicators" hidden>
                            <button  type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button  type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button  type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button  type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        </div>
                    </div>
                    <ul style="margin: 0 0% 0 0" class="actions flexlado">
                        <li style="margin: auto";>
                            <button style="padding: .7rem; height: min-content;" class="alertaVerde label" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">Anterior
                            </button>
                        </li>
                        <li style="margin: auto">
                            <button style="padding: .7rem; height: min-content;" class="alertaVerde label" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">Siguiente
                            </button>
                        </li>
                    </ul>
                </footer>
            </div>
        </section>
    </div>
</div>
